@use 'tokens';
@use '../../util';
@use '../../color';
@use 'sass:map';

@mixin base {
	@include util.set($nds-badge-color: color.family('badge-color', tokens.$color));

	--nds-pill-padding: #{tokens.$padding-pill};
	--nds-dot-padding: #{tokens.$padding-dot};
	--nds-badge-margin: #{tokens.$margin};
	--nds-badge-background-color: var(--nds-badge-color-#{tokens.$background-grade});
	--nds-badge-border-radius: #{tokens.$border-radius};

	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: var(--nds-font-size-xs);
	color: var(--nds-badge-color-#{tokens.$background-font-grade});
	vertical-align: middle;
}

@mixin badge-pill {
	min-width: 1.5rem;
	height: 1.25rem;
	padding: var(--nds-pill-padding);
	margin: var(--nds-badge-margin);
	background-color: var(--nds-badge-background-color);
	border-radius: var(--nds-badge-border-radius);

	span {
		padding-left: 1px;
		margin-bottom: 1px;
	}
}

@mixin badge-dot {
	position: relative;
	padding: 5px;
	margin: var(--nds-badge-margin);
	text-align: center;
	background-color: var(--nds-badge-background-color);
	border-radius: 50%;
}

@mixin badge-icon {
	min-height: 12px;
	margin-right: 1px;
}

@mixin style {
	@include util.declare('badge') {
		.nds-badge {
			@include base;
		}

		.nds-badge--pill {
			@include badge-pill;
		}

		.nds-badge--dot {
			@include badge-dot;
		}

		.nds-badge__icon {
			@include badge-icon;
		}

		@each $name in color.$families {
			.nds-badge--#{$name} {
				@include util.set(
					$nds-badge-color: color.family('badge-color', $name),
				);
			}
		}

		@each $map in color.$roles {
			$name: map.get($map, 'name');

			.nds-badge--#{$name} {
				@include util.set($nds-badge-color: color.family('badge-color', '#{$name}-color'));
			}
		}
	}
}
