@use 'tokens';
@use '../../util';
@use '../../color';
@use '../../type';
@use 'sass:map';

@mixin base {
	--nds-badge-padding-x: #{tokens.$padding-x};
	--nds-badge-padding-y: #{tokens.$padding-y};
	--nds-badge-background-color: var(--nds-#{tokens.$background-family}-#{tokens.$background-grade});
	--nds-badge-border-radius: #{tokens.$border-radius};
	--nds-badge-dot-size: #{tokens.$dot-size};

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 1.5rem;
	padding: var(--nds-badge-padding-x) var(--nds-badge-padding-y) 0.063rem;
	font-size: var(--nds-font-size-sm);
	line-height: type.lh('ui');
	color: var(--nds-background-color);
	vertical-align: middle;
	background-color: var(--nds-badge-background-color);
	border-radius: var(--nds-badge-border-radius);

	span {
		padding-left: 1px;
		margin-bottom: 1px;
	}
}

@mixin badge-dot {
	min-width: unset;
	height: auto;
	padding: calc(var(--nds-badge-dot-size) / 2);
	text-align: center;
	background-color: #{tokens.$dot-color};
}

@mixin badge-icon {
	margin-right: 1px;
}

@mixin style {
	@include util.declare('badge') {
		.nds-badge {
			@include base;
		}

		.nds-badge--dot {
			@include badge-dot;
		}

		.nds-badge__icon {
			@include badge-icon;
		}

		@each $name in color.$families {
			.nds-badge--#{$name} {
				--nds-badge-background-color: var(--nds-#{$name}-#{tokens.$background-grade});
			}
		}
	}
}
