@use '../../spacing';

$padding-x: spacing.spacer('ui-inner');
$padding-y: spacing.spacer('ui-inner');
$background-family: 'base-color' !default;
$background-grade: 70 !default;
$font-size: var(--nds-font-size-sm) !default;
$padding-dot: spacing.spacer('ui-inner') !default;
$color: 'base-color' !default;
$background-font-grade: 10 !default;
$dot-color: var(--nds-red-50) !default;
$dot-size: spacing.spacer('0.5rem') !default;
