@use 'sass:meta';
@use './nds';
@use './ifm';
@use './navbar';
@include nds.complete;

.nds-dropdown__option {
	margin-top: 0 !important;
}

// TODO: support utilities like these in the design system
@mixin create-utility($items, $prefix, $property, $important: true) {
	@each $item in $items {
		$name: '';
		$value: '';

		@if meta.type-of($item) == 'string' {
			$name: $item;
			$value: var(--nds-#{$property}-#{$item});
		}

		@if meta.type-of($item) == 'list' {
			$name: list.nth($item, 1);
			$value: list.nth($item, 2);
		}

		@if meta.type-of($item) == 'map' {
			$name: map.get($item, 'name');
			$value: map.get($item, 'value');
		}

		.#{$prefix}-#{$name} {
			#{$property}: $value if($important, !important, '');
		}
	}
}

@include create-utility((
	'system-sans', 'system-serif', 'system-mono',
	'sans', 'serif', 'mono', 'base', 'headings',
), 'ff', 'font-family');

// font-size
@include create-utility((
	'10', '12', '14', '16', '18', '20', '24', '32', '40', '48',
	'base', 'xs', 'sm', 'md', 'lg',
	'h1', 'h2', 'h3', 'h4', 'h5', 'h6',
), 'fs', 'font-size');

@each $size in ('xs', 'sm', 'md', 'lg', 'base') {
	.body-#{$size} {
		@include nds.typeset(
			$size: var(--nds-font-size-#{$size}),
		);
	}

	.ui-#{$size} {
		@include nds.typeset(
			$size: var(--nds-font-size-#{$size}),
			$height: var(--nds-line-height-3),
		);
	}
}

@for $l from 1 through 6 {
	.h#{$l} {
		@include nds.typeset-heading(
			$size: var(--nds-font-size-h#{$l}),
			$height: lh('h#{$l}'),
		);
	}
}

.example-shade {
	@include nds.set(
		$nds-primary-color: nds.family('primary-color', 'purple', 70),
	);
}

// GitLab's Markdown color chip CSS
.color-chip {
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	margin-top: 0;
	margin-right: var(--nds-spacing-1);
	line-height: 1;
	vertical-align: middle;
	background: #fff;
	background-image: none;
	background-image:
		linear-gradient(135deg, #e1e1e1 25%, transparent 0%, transparent 75%, #e1e1e1 0%),
		linear-gradient(135deg, #e1e1e1 25%, transparent 0%, transparent 75%, #e1e1e1 0%);
	background-position: 0 0, 0.5em 0.5em;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-size: 1em 1em;
	border-radius: 3px;

	> span {
		display: inline-block;
		width: 100%;
		height: 100%;
		margin-bottom: 2px;
		border: 1px solid rgb(0 0 0 / 30%);
		border-radius: 3px;
	}
}

.code-wrap {
	white-space: initial !important;
}

.callout__example {
	padding: var(--nds-spacing-3);
	margin-bottom: var(--nds-spacing-3);
	background-color: var(--nds-background-color);
	border-radius: var(--nds-radius-base);
}

.navbar__brand:focus {
	box-shadow: none;
}

.navbar__brand:focus-visible {
	color: var(--nds-focus-color);
}

// ThemeProvider example

.themed {
	padding: var(--nds-spacing-4);
	color: var(--nds-text-color);
	background-color: var(--nds-background-color);
}

ol ol,
ul ol {
	list-style-type: lower-alpha;
}

h1,
.markdown > h1 {
	padding-top: nds.rem(4);
}

h2,
.markdown > h2 {
	margin-top: var(--nds-spacing-10);
	margin-bottom: var(--nds-spacing-5);
}

h3,
.markdown > h3 {
	margin-top: var(--nds-spacing-6) !important;
	margin-bottom: var(--nds-spacing-4) !important;
}
