@use '@nds/core/src/components/textfield';
@use '@nds/core/src/globals/scss/tokens/_color-system' as color;

*:-moz-ui-invalid {
	box-shadow: none !important;
}

*:focus {
	z-index: 100;
}

.field__group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}

.field__addon {
	display: flex;
	align-items: center;
	text-align: center;
	white-space: nowrap;
}

.addon-icon {
	box-sizing: content-box;
	padding: 0 0.5rem;
}

.field__group > .field__input {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
}

.field__group > .field__addon {
	border: textfield.$textfield-input-border-width solid textfield.$textfield-input-border-color;
}

.field__addon > * {
	border-top: 0;
	border-bottom: 0;
	border-radius: 0;
}

.field__addon:first-child > * {
	border-left: 0;
}

.field__addon:last-child > * {
	border-right: 0;
}

.field__group > :not(:first-child) {
	margin-left: -1px;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.field__group > :not(:last-child) {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.field--invalid .field__addon,
.field--invalid .field__input {
	border-color: map-get(color.$red, 60);
}

.all-fields .field {
	margin-bottom: 1.5rem;
}

form {
	max-width: 34rem;
	padding: 1rem;
	margin: 0 auto;

	.field__feedback {
		margin-bottom: 1rem;
	}
}
