$default: (
	base-font-size: 1rem,
	border-radius: 5rem,
	padding-h: 12px,
	padding-v: 6px,
	transition-duration: 100ms,
	transition-easing: cubic-bezier(0.4, 0, 0.2, 1),
	strong-blue: #09f,
	dark: #757575,
	light-1: #e9e9e9,
	light-2: #999,
	white: $norton-white,
) !default;

$button-props: (
	base-font-size: map-get($default, base-font-size),
	padding: map-get($default, padding-v) map-get($default, padding-h),
	focus: map-get($default, strong-blue),
	key-dark: map-get($default, dark),
	key-light-1: map-get($default, light-1),
	key-light-2: map-get($default, light-2),
	key-white: map-get($default, white),
	border-radius: map-get($default, border-radius),
	shadow-hover: (
		0 4px 6px -1px rgba(0, 0, 0, 0.2),
		0 2px 4px -1px rgba(0, 0, 0, 0.06),
	),
	shadow-hover-lighter: (
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06),
	),
	shadow-focus: (
		0 0 0 2px map-get($default, white),
		0 0 1px 4px map-get($default, strong-blue),
	),
	transition: (
		color map-get($default, transition-duration) map-get($default, transition-easing),
		background-color map-get($default, transition-duration) map-get($default, transition-easing),
		border-color map-get($default, transition-duration) map-get($default, transition-easing),
		box-shadow map-get($default, transition-duration) map-get($default, transition-easing),
	),
) !default;
