@use 'sass:map';
@use 'sass:meta';
@use '../../a11y';
@use '../../color';
@use '../../type';
@use '../../motion';
@use '../../spacing';
@use '../../util';
@use '../../device/' as device;
@use '../button' as btn;
@use 'tokens';

@mixin base {
	@include btn.base;
	@include btn.ghost;

	display: flex;
	min-width: 3rem;
	padding: 0;
	color: var(--nds-navy-80);
	text-align: center;
	flex-direction: column;
	border: none;
	border-radius: 0;
	justify-content: center;
	align-items: center;

	@include device.media-up('sm') {
		display: none;
	}

	&:disabled,
	&.disabled {
		color: var(--nds-disabled-color-darker);
	}
}

@mixin previous {
	margin-right: tokens.$negative-space;
}

@mixin next {
	margin-left: tokens.$negative-space;
}

@mixin contained {
	background-color: var(--nds-gray-20);

	&:not(:disabled):not(.disabled):hover,
	&:not(:disabled):not(.disabled).hover {
		color: var(--nds-navy-80);
		background-color: var(--nds-navy-30);
	}

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		color: var(--nds-navy-80);
		background-color: var(--nds-navy-40);
	}
}

@mixin line {
	color: var(--nds-base-color-80);
	background-color: var(--nds-background-color);

	&:not(:disabled):not(.disabled):hover,
	&:not(:disabled):not(.disabled).hover {
		color: var(--nds-base-color-80);
		background-color: var(--nds-base-color-10);
	}

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		color: var(--nds-base-color-80);
		background-color: var(--nds-base-color-20);
	}
}

@mixin style {
	@include util.declare('tab-scroll-button') {
		.nds-tab-scroll-button {
			@include base;
		}

		.nds-tab-scroll-button__text {
			font-size: 0.563rem;
		}

		.nds-tab-scroll-button--previous {
			@include previous;
		}

		.nds-tab-scroll-button--next {
			@include next;
		}

		.nds-tab-scroll-button--contained {
			@include contained;
		}

		.nds-tab-scroll-button--line {
			@include line;
		}
	}
}
