////
/// @group Typography
////

@use 'sass:list';

// System font stacks from https://systemfontstack.com/
$font-family-system-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$font-family-system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-family-system-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

$font-family-sans: () !default;
$font-family-sans: list.append($font-family-sans, var(--nds-font-family-system-sans), 'comma');

$font-family-serif: () !default;
$font-family-serif: list.append($font-family-serif, var(--nds-font-family-system-serif), 'comma');

$font-family-mono: () !default;
$font-family-mono: list.append($font-family-mono, var(--nds-font-family-system-mono), 'comma');

/// The main font family that will be used throughout your application.
$font-family-base: var(--nds-font-family-sans) !default;
/// The font family that will be used for all headings.
$font-family-headings: var(--nds-font-family-base) !default;

$font-size-root: 1em !default;
$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-40: 2.5rem;
$font-size-48: 3rem;

$font-size-xs: var(--nds-font-size-12) !default;
$font-size-sm: var(--nds-font-size-14) !default;
$font-size-md: var(--nds-font-size-16) !default;
$font-size-lg: var(--nds-font-size-18) !default;
$font-size-h1: var(--nds-font-size-32) !default;
$font-size-h2: var(--nds-font-size-24) !default;
$font-size-h3: var(--nds-font-size-20) !default;
$font-size-h4: var(--nds-font-size-18) !default;
$font-size-h5: var(--nds-font-size-16) !default;
$font-size-h6: var(--nds-font-size-14) !default;
$font-size-base: var(--nds-font-size-md) !default;

$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-weight-base: var(--nds-font-weight-regular) !default;
$font-weight-headings: var(--nds-font-weight-bold) !default;

$line-height-1: 1;
$line-height-2: 1.125;
$line-height-3: 1.25;
$line-height-4: 1.5;
$line-height-5: 1.6;
$line-height-6: 1.75;

:root {
	--nds-font-family-system-sans: #{$font-family-system-sans};
	--nds-font-family-system-serif: #{$font-family-system-serif};
	--nds-font-family-system-mono: #{$font-family-system-mono};
	--nds-font-family-sans: #{$font-family-sans};
	--nds-font-family-serif: #{$font-family-serif};
	--nds-font-family-mono: #{$font-family-mono};
	--nds-font-family-base: #{$font-family-base};
	--nds-font-family-headings: #{$font-family-headings};
	--nds-font-size-root: #{$font-size-root};
	--nds-font-size-10: #{$font-size-10};
	--nds-font-size-12: #{$font-size-12};
	--nds-font-size-14: #{$font-size-14};
	--nds-font-size-16: #{$font-size-16};
	--nds-font-size-18: #{$font-size-18};
	--nds-font-size-20: #{$font-size-20};
	--nds-font-size-24: #{$font-size-24};
	--nds-font-size-32: #{$font-size-32};
	--nds-font-size-40: #{$font-size-40};
	--nds-font-size-48: #{$font-size-48};
	--nds-font-size-xs: #{$font-size-xs};
	--nds-font-size-sm: #{$font-size-sm};
	--nds-font-size-md: #{$font-size-md};
	--nds-font-size-lg: #{$font-size-lg};
	--nds-font-size-h1: #{$font-size-h1};
	--nds-font-size-h2: #{$font-size-h2};
	--nds-font-size-h3: #{$font-size-h3};
	--nds-font-size-h4: #{$font-size-h4};
	--nds-font-size-h5: #{$font-size-h5};
	--nds-font-size-h6: #{$font-size-h6};
	--nds-font-size-base: #{$font-size-base};
	--nds-font-weight-thin: #{$font-weight-thin};
	--nds-font-weight-light: #{$font-weight-light};
	--nds-font-weight-regular: #{$font-weight-regular};
	--nds-font-weight-bold: #{$font-weight-bold};
	--nds-font-weight-black: #{$font-weight-black};
	--nds-font-weight-base: #{$font-weight-base};
	--nds-font-weight-headings: #{$font-weight-headings};
	--nds-line-height-1: #{$line-height-1};
	--nds-line-height-2: #{$line-height-2};
	--nds-line-height-3: #{$line-height-3};
	--nds-line-height-4: #{$line-height-4};
	--nds-line-height-5: #{$line-height-5};
	--nds-line-height-6: #{$line-height-6};
}
