@import '../../globals/scss/tokens';

$switch-bg-on: $teal !default;
$switch-bg-off: $gray !default;
$switch-bg-on-disabled: $switch-bg-on !default;
$switch-bg-off-disabled: $gray !default;
$switch-control-size: 1.75rem !default;
$switch-control-border-width: 2px !default;
$switch-spacing: 3px !default;
$switch-rail-height: $switch-control-size !default;
$switch-rail-width: calc(2 * (#{$switch-control-size} + #{$switch-spacing})) !default;
$switch-control-border-radius: $switch-rail-height !default;
