@forward 'tokens';
@use 'tokens';
@use '../../motion';
@use '../../spacing';
@use '../../type';
@use '../../util';

@mixin base {
	--nds-switch-color-on: #{tokens.$color-on};
	--nds-switch-color-off: #{tokens.$color-off};
	--nds-switch-font-size: #{tokens.$font-size};
	--nds-switch-height: #{tokens.$height};
	--nds-switch-padding-x: #{tokens.$padding-x};
	--nds-switch-thumb-offset: #{tokens.$thumb-offset};
	--nds-switch-thumb-margin: #{tokens.$thumb-margin};

	display: inline-flex;
	align-items: flex-start;

	> :first-child:not(:last-child) {
		margin-right: spacing.rem(1);
	}
}

@mixin control {
	$-padding-y: calc((var(--nds-switch-height) - var(--nds-switch-font-size)) / 2);
	$-thumb-size: calc(var(--nds-switch-height) - var(--nds-switch-thumb-margin) * 2);

	position: relative;
	display: inline-flex;
	min-width: calc(var(--nds-switch-height) * 2 + var(--nds-switch-thumb-offset));
	min-height: var(--nds-switch-height);
	box-sizing: border-box;
	font-size: var(--nds-switch-font-size);
	font-weight: var(--nds-font-weight-bold);
	line-height: type.lh(1);
	cursor: pointer;
	border: 0;
	border-radius: var(--nds-radius-pill);
	justify-content: flex-end;
	align-items: center;

	@include type.ui-xs;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: $-thumb-size;
		height: $-thumb-size;
		box-sizing: border-box;
		margin: var(--nds-switch-thumb-margin);
		margin-right: auto;
		content: '';
		background: var(--nds-white);
		border-radius: 2rem;
		box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
		transition: motion.transition(border-color transform);
	}

	&[aria-checked='false'] {
		background-color: var(--nds-switch-color-off);
	}

	&[aria-checked='true'] {
		color: var(--nds-background-color);
		background-color: var(--nds-switch-color-on);
		justify-content: flex-start;

		&::before {
			transform: translateX(calc(100% + var(--nds-switch-thumb-margin) * 2 + var(--nds-switch-thumb-offset)));
		}
	}

	&:disabled,
	&.disabled {
		color: var(--nds-disabled-color-30);
		background-color: var(--nds-disabled-color-10);
	}

	> .nds-icon {
		width: 1.25em;
		height: 1.25em;
		margin: calc(-1 * #{spacing.spacer('ui-inner')}) 0;
	}
}

@mixin style {
	@include util.declare('switch') {
		.nds-switch {
			@include base;
		}

		.nds-switch__control {
			@include control;
		}
	}
}
