@import '../../globals/scss/tokens/motion';
@import '../../globals/scss/tokens/color-system';
@import '../../globals/scss/tokens/color-functional';

$disclosure-padding-base: 1.5rem !default;
$disclosure-padding-left: $disclosure-padding-base !default;
$disclosure-padding-right: $disclosure-padding-base !default;
$disclosure-padding-top: 1rem !default;
$disclosure-padding-bottom: $disclosure-padding-base !default;

$disclosure-marker-width: 1em !default;

$disclosure-collapse-duration: $duration-collapse !default;
$disclosure-collapse-easing: $easing-standard !default;

$disclosure-expand-duration: $duration-expand !default;
$disclosure-expand-easing: $easing-standard !default;

$disclosure-panel-border-color: map-get($gray, 100) !default;
$disclosure-panel-border: 1px solid $disclosure-panel-border-color !default;

$disclosure-panel-focus-indicator: 0 0 0 2px $focus-ring-color !default;
