@import '../../globals/scss/tokens/motion';
@import '../../globals/scss/tokens/typography';
@import '../../globals/scss/tokens/color-system';
@import '../../globals/scss/tokens/color-functional';

$disclosure-padding-base: 1.5rem !default;
$disclosure-padding-left: $disclosure-padding-base !default;
$disclosure-padding-right: $disclosure-padding-base !default;
$disclosure-padding-top: 1rem !default;
$disclosure-padding-bottom: $disclosure-padding-base !default;

$summary-font-color: $black !default;
$summary-font-family: $font-family-base !default;
$summary-line-height: 1.25 !default;
$summary-font-size: 1rem !default;

$disclosure-collapse-duration: $duration-collapse !default;
$disclosure-collapse-easing: $easing-standard !default;

$disclosure-expand-duration: $duration-expand !default;
$disclosure-expand-easing: $easing-standard !default;

$disclosure-panel-border-color: $black !default;
$disclosure-panel-border: 1px solid $disclosure-panel-border-color !default;

$disclosure-panel-background-color: map-get($gray, 10) !default;
