@forward 'tokens';
@use 'tokens';
@use '../../motion';
@use '../../spacing';
@use '../../type';
@use '../../util';

@mixin base {
	--nds-disclosure-border-width: #{tokens.$border-width};
	--nds-disclosure-border-radius: #{tokens.$border-radius};
	--nds-disclosure-border: #{tokens.$border};
	--nds-disclosure-padding-y: #{tokens.$padding-y};
	--nds-disclosure-padding-x: #{tokens.$padding-x};
	--nds-disclosure-marker-margin: #{tokens.$marker-margin};
	--nds-disclosure-summary-background-color: #{tokens.$summary-background-color};

	position: relative;
	display: block;
}

@mixin summary {
	--nds-disclosure-padding-x: 0;

	position: relative;
	display: flex;
	padding: var(--nds-disclosure-padding-y) var(--nds-disclosure-padding-x);
	cursor: pointer;
	background-color: var(--nds-disclosure-summary-background-color);
	align-items: center;

	@include type.ui-base;

	.nds-disclosure__marker:last-child {
		margin-left: auto;
	}
}

@mixin contents-outer {
	overflow-y: hidden;
	transition: motion.transition(height, var(--nds-duration-expand));

	[open] & {
		box-sizing: content-box;
		transition: motion.transition(height, var(--nds-duration-collapse));
	}
}

@mixin contents-inner {
	padding-left: spacing.padding(calc(var(--nds-disclosure-padding-x) + var(--nds-disclosure-marker-margin)));

	:last-child {
		margin-bottom: 0;
	}
}

@mixin marker-transform($open-transform, $close-transform) {
	[open] & {
		transition: motion.transition(transform, var(--nds-duration-collapse));
		transform: $open-transform;
	}

	[open].nds-closing & {
		transition: motion.transition(transform, var(--nds-duration-expand));
		transform: $close-transform;
	}
}

@mixin marker-svg {
	min-width: 1.25rem;
	margin-right: var(--nds-disclosure-marker-margin);
	margin-left: var(--nds-disclosure-marker-margin);

	[open] & {
		transition: motion.transition(transform, var(--nds-duration-collapse));
		transform-origin: center;
	}

	&.nds-icon--caret-right {
		@include marker-transform(
			rotate(90deg),
			rotate(0),
		);
	}

	&.nds-icon--chevron-down {
		@include marker-transform(
			rotate3d(1, 0, 0, 180deg),
			rotate3d(1, 0, 0, 0),
		);
	}
}

@mixin panel {
	--nds-disclosure-border-width: 1px;
	--nds-disclosure-padding-y: calc(#{spacing.rem(1)} - var(--nds-disclosure-border-width));

	border-radius: var(--nds-disclosure-border-radius);

	.nds-disclosure__summary {
		--nds-disclosure-padding-x: var(--nds-disclosure-padding-y);
		--nds-disclosure-summary-background-color: var(--nds-base-color-20);

		border: var(--nds-disclosure-border);
		border-radius: var(--nds-disclosure-border-radius);
	}

	&[open] > .nds-disclosure__summary {
		border-bottom: var(--nds-disclosure-border);
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.nds-disclosure__contents-outer {
		border-right: var(--nds-disclosure-border);
		border-bottom: var(--nds-disclosure-border);
		border-left: var(--nds-disclosure-border);
		border-bottom-right-radius: var(--nds-disclosure-border-radius);
		border-bottom-left-radius: var(--nds-disclosure-border-radius);
	}

	.nds-disclosure__contents-inner {
		padding-top: var(--nds-disclosure-padding-y);
		padding-right: var(--nds-disclosure-padding-x);
		padding-bottom: spacing.padding(spacing.rem(1.5));
		padding-left: var(--nds-disclosure-padding-y);
	}
}

@mixin style {
	@include util.declare('disclosure') {
		// disable the user agent's marker (triangle/caret)
		summary::-moz-details-marker,
		summary::-ms-details-marker,
		summary::-o-details-marker {
			display: none;
		}

		summary::-webkit-details-marker {
			display: none;
		}

		summary::marker {
			display: none;
			content: '';
		}

		.nds-disclosure {
			@include base;
		}

		.nds-disclosure__summary {
			@include summary;
		}

		.nds-disclosure__marker {
			@include marker-svg;
		}

		.nds-disclosure__contents-outer {
			@include contents-outer;
		}

		.nds-disclosure__contents-inner {
			@include contents-inner;
		}

		.nds-disclosure--panel {
			@include panel;
		}
	}
}
