@use '../../spacing';

$border-width: spacing.px(0) !default;
$border-radius: var(--nds-radius-base) !default;
$border: var(--nds-disclosure-border-width) solid var(--nds-base-color-40) !default;
$padding-y: spacing.spacer('disclosure-y') !default;
$padding-x: spacing.spacer('disclosure-x') !default;
$marker-margin: spacing.spacer('ui-inner') !default;
$summary-background-color: transparent !default;
