@forward 'tokens';
@use 'tokens';
@use '../popper';
@use '../../spacing';
@use '../../type';
@use '../../util';

@mixin base {
	--nds-tooltip-border-width: #{tokens.$border-width};
	--nds-tooltip-arrow-size: #{tokens.$arrow-size};
	--nds-tooltip-max-width: #{tokens.$max-width};
	--nds-tooltip-padding-x: #{tokens.$padding-x};
	--nds-tooltip-padding-y: #{tokens.$padding-y};
	--nds-tooltip-border-radius: #{tokens.$border-radius};
	--nds-popper-border-width: var(--nds-tooltip-border-width);
	--nds-popper-distance: #{tokens.$offset-distance};

	position: absolute;
	z-index: var(--nds-zindex-tooltip);
	max-width: var(--nds-tooltip-max-width);
	color: var(--nds-text-color);
	background-color: var(--nds-background-color);
	border: solid var(--nds-tooltip-border-width) transparent;
	border-radius: var(--nds-tooltip-border-radius);
}

@mixin body {
	@include type.ui-sm;

	padding: var(--nds-tooltip-padding-y) var(--nds-tooltip-padding-x);
}

@mixin scheme-dark {
	--nds-background-color: var(--nds-background-color-inverse);
	--nds-text-color: var(--nds-text-color-inverse);
}

@mixin scheme-light {
	--nds-background-color: unset;
	--nds-text-color: unset;

	border-color: var(--nds-base-color-40);
	box-shadow: var(--nds-shadow-1);
}

@mixin style {
	@include util.declare('tooltip') {
		.nds-tooltip {
			@include base;
			@include scheme-dark;
		}

		.nds-tooltip--light {
			@include scheme-light;
		}

		.nds-tooltip--dark {
			@include scheme-dark;
		}

		.nds-tooltip__content,	/* deprecated. remove in v2 */
		.nds-tooltip__body {
			@include body;
		}

		.nds-tooltip__arrow {
			@include popper.arrow(
				$size: var(--nds-tooltip-arrow-size),
				$border-width: var(--nds-tooltip-border-width),
			);
		}
	}
}
