@use '../../spacing';
@use '../../util';

$arrow-size: 12px !default;
$offset-distance: 6px !default;
$max-width: #{util.px2rem(256)}rem !default;
$padding-x: spacing.spacer('tooltip-x') !default;
$padding-y: spacing.spacer('tooltip-y') !default;
$border-radius: var(--nds-radius-base) !default;
$border-width: 1px !default;
