@use '../../spacing';

$arrow-size: 12px !default;
$arrow-border: calc(var(--nds-tooltip-arrow-size) / 2) !default;
$offset-y: 6px !default;
$max-width: spacing.px-rem(256) !default;
$padding-x: spacing.spacer('tooltip-x') !default;
$padding-y: spacing.spacer('tooltip-y') !default;
$border-radius: var(--nds-radius-base) !default;
