@use 'tokens';
@use '../../util';

@mixin style {
	@include util.declare(tokens.$name) {
		.nds-#{tokens.$name} {
			&__container {
				display: flex;
				gap: 1rem;
			}

			&__icon-container {
				min-width: tokens.$icon-width;
			}

			&__icon {
				width: tokens.$icon-width;
				height: tokens.$icon-width;

				&--correct {
					color: tokens.$correct;
				}

				&--incorrect {
					color: tokens.$incorrect;
				}
			}

			&__heading {
				margin-bottom: 0;
			}
		}
	}
}
