////
/// Global configuration for the design system. Local systems can be configured
/// via the `@use with` syntax.
/// @link https://sass-lang.com/documentation/at-rules/use#configuration
/// @group Config
////

/// The expected browser font size, which determines the value of `1rem`. This is
/// 16 in all browsers by default and shouldn't be changed under most scenarios.
/// @type Number
$browser-font-size: 16 !default;

/// Indicates whether duplicate declarations should be allowed. If `true`,
/// including a `style` mixin will result in duplicate CSS. If `false`, including
/// a `style` mixin multiple times will only create a declaration the first time.
/// @type Boolean
$enable-duplicate-declarations: false !default;

/// Enable the dark scheme. This will only make it _possible_ for the dark scheme
/// to be applied by either the user's OS setting or by manually applying a class
/// to the :root element.
/// @type Boolean
$enable-dark-scheme: false !default;

/// Enable helper declarations. Only has an effect when using the full stylesheet.
/// Helper declarations can always be used imperatively via `@include`.
/// @type Boolean
$enable-helpers: true !default;

/// Enable link styling for the specified selector context. Setting this to
/// `null` will result in link styling being applied to all links. The default
/// (`main`) means the link styling is applied to the `main :link` selector.
/// @type String | List | null
$link-styling-context: 'main' !default;

/// Enable the `:visited` pseudo class styling.
/// @type String | List | null
$link-visited-context: null !default;

/// Indicates whether the :focus-visible polyfill is being used. When `true`,
/// focus selectors will use the focus-visible polyfill classes.
/// @link https://github.com/WICG/focus-visible
/// @type Boolean
$focus-visible-polyfill: false !default;
