////
/// Motion
/// An implementation of Material Design's motion guidelines.
/// @group motion
/// @source https://material.io/design/motion/understanding-motion.html Material Design: Understanding Motion
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
/// @source https://material.io/design/motion/speed.html#easing Material Design: Easings
////

@use 'sass:list';
@use 'sass:map';
@use 'util';

// FUNCTIONS

@function scale($duration) {
	@return calc(#{$duration} * #{util.prop(duration-scalar)});
}

/// Apply one transition to many properties
/// @param {String} $transition - An easing and/or duration.
/// @param {String[]} $properties... - A list of CSS properties.
@function transition($transition, $properties...) {
	$full-transition: ();

	@each $property in $properties {
		$full-transition: list.join($full-transition, #{$property $transition}, $separator: comma);
	}

	@return $full-transition;
}


// TOKENS

/// A multiplier used for increasing/decreasing all motion speed.
$duration-scalar: 1 !default;

/// A duration used for simple animations such as selection controls.
$duration-simple: 100ms !default;
/// A duration used for simple entrances such as fade-ins.
$duration-simple-enter: 150ms !default;
/// A duration used for simple exits such as fade-outs.
$duration-simple-exit: 75ms !default;
/// A duration used for complex animations such as shape changes.
$duration-complex: 200ms !default;
/// A duration used for detailed animations such as icon transformations.
$duration-detailed: 500ms !default;

/// A duration used for elements that open from a closed state, such as a sidebar.
$duration-open: 250ms !default;
/// A duration used for elements that close from an opened state, such as a sidebar.
$duration-close: 200ms !default;
/// A duration used when an element expands (grows).
$duration-expand: 300ms !default;
/// A duration used when an element collapses (shrinks).
$duration-collapse: 250ms !default;

/// Standard easing puts subtle attention at the end of an animation, by giving
/// more time to deceleration than acceleration. It is the most common form of
/// easing.
///
/// Elements that begin and end at rest use standard easing. They speed up
/// quickly and slow down gradually, in order to emphasize the end of the
/// transition.
$easing-standard: cubic-bezier(0.4, 0, 0.2, 1) !default;

/// Incoming elements are animated using deceleration easing, which starts a
/// transition at peak velocity (the fastest point of an element’s movement) and
/// ends at rest.
$easing-deceleration: cubic-bezier(0, 0, 0.2, 1) !default;

/// Elements exiting a screen use acceleration easing, where they start at rest
/// and end at peak velocity.
$easing-acceleration: cubic-bezier(0.4, 0, 1, 1) !default;

/// Timing function to quickly accelerate and decelerate
/// @source https://github.com/material-components/material-components-web/tree/master/packages/mdc-animation @material/animation
$easing-sharp: cubic-bezier(0.4, 0, 0.6, 1) !default;
