////
/// @group Properties
////

@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use 'config';
@use 'util';

/// The global map of all CSS custom properties, including non-root properties.
/// @access private
$-props: ();
/// A global map of all `:root` CSS custom properties. Any token in this map
/// will be globally available on the page.
/// @access private
$-props-root: ();

@function get-props($root: false) {
	@return if($root, $-props-root, $-props);
}

/// Reference a CSS property by name.
/// @param {String} $name - The name of the CSS property that you'd like to use.
/// @return {String} - A CSS custom property with value fallback.
/// @example scss
///   .foo {
///     padding-top: prop(foo-padding-top);
///   }
///   // CSS output with config ($namespace: 'nds', $css-property-fallback: false)
///   .foo {
///     padding-top: var(--nds-foo-padding-top);
///   }
///
@function prop($name, $fallback: config.$css-property-fallback) {
	$css-prop: string.unquote('--#{util.prefix($name)}');

	@if $fallback {
		$value: value($name);

		@if not $value {
			// stylelint-disable-next-line max-nesting-depth
			@if config.$warn-on-missing-fallback {
				@warn 'No fallback was value was found for "#{$name}." Ensure that you\'ve added a value for "#{$name}" before using it.';
			}

			@return var($css-prop);
		}

		@return var($css-prop, $value);
	}

	@return var($css-prop);
}

/// Resolve the value of a prop inside the `$-props` map. To be found, the
/// property must first be added with either the `add-root` (global) or
/// `props` (local) mixins.
/// @param {String} $prop-name - The name of the property you'd like to resolve.
/// @param {Map} $prop-map [$-props] - The map that contains the value you'd like
/// to resolve. Default is the global property map, `$-props`.
/// @return {String | null} - the resolved value or `null` if not found.
@function value($prop-name, $prop-map: $-props) {
	$value: map.get($prop-map, $prop-name);

	@if $value {
		$var-str: 'var(--';

		@if meta.type-of($value) == 'string' and string.index($value, $var-str) == 1 {
			$comma-index: string.index($value, ',');

			$end-at: if($comma-index, $comma-index, string.length($value));
			$var: string.slice($value, string.length($var-str) + 1, $end-at - 1);

			@return value(util.unprefix($var));
		}

		@return $value;
	}

	@return null;
}

@function assert-prop($prop-name, $expected) {
	$val: value($prop-name);

	@return $val == $expected;
}


// MIXINS

/// Add a list of local CSS properties.
/// @param {Arglist | Map[]} $additions... - Either an arglist of key: value
/// pairs or a list of maps with key: value pairs.
/// @example scss - Arglist
///   @include add
///     $button-border-radius: 4px,
///     $button-font-size: prop('font-size-18'),
///   );
/// @example scss - List of maps
///   @include add(
///     'button-border-radius': 4px,
///     'button-font-size': prop('font-size-18'),
///   ), $some-other-map);
@mixin add($additions...) {
	@include -add(false, $additions...);
}

/// Add a list of root CSS properties. These will be added to the :root
/// declaration for global usage.
/// @param {Arglist | Map[]} $additions... - Either an arglist of key: value
/// pairs or a list of maps with key: value pairs.
/// @see props
/// @example scss - Arglist
///   @include add-root(
///     $base-border-radius: 2px,
///     $base-font-size: prop('font-size-16'),
///   );
/// @example scss - List of maps
///   @include add-root((
///     'base-border-radius': 2px,
///     'base-font-size': prop('font-size-16'),
///   ), $some-other-map);
@mixin add-root($additions...) {
	@include -add(true, $additions...);
}

/// Set a list of properties as CSS custom properties.
/// @param {Arglist | Map[]} $prop-maps... - Either an arglist of key: value
/// pairs or a list of maps with key: value pairs.
/// @example scss
///   .button {
///     // set properties local to .button
///     @include set($button-border-radius: 2px);
///     // use the now-defined property
///     border-radius: prop(button-border-radius);
///   }
///   // CSS output with config ($namespace: 'nds', $css-property-fallback: true)
///   .button {
///     --nds-button-border-radius: 2px;
///     border-radius: var(--nds-button-border-radius, 2px);
///   }
@mixin set($prop-maps...) {
	$keywords: meta.keywords($prop-maps);

	$props: ();

	@if list.length($keywords) > 0 {
		$props: $keywords;
	}
	@else {
		@each $prop-map in $prop-maps {
			@if meta.type-of($prop-map) != 'map' {
				@error 'All arguments must be maps';
			}
			@else {
				$props: map.merge($props, $prop-map);
			}
		}
	}

	@each $token, $value in $props {
		@if $value {
			@if meta.type-of($value) == 'map' {
				@include set(util.flatten($value, $token));
			}
			@else {
				@if not map.has-key($props, $token) {
					@warn '#{$token} not found. Adding it as #{$value}.';

					@include -add-one($token, $value);
				}

				@include -set-one($token, $value);
			}
		}
	}
}

@mixin -set-one($token, $value) {
	--#{util.prefix(#{$token})}: #{$value};
}

@mixin -add-one($key, $value, $root: false) {
	@if meta.type-of($value) == 'map' {
		$prop-map: util.flatten($value, $key);

		@if $root {
			@include add-root($prop-map);
		}
		@else {
			@include add($prop-map);
		}
	}
	@else {
		$prop-map: (string.quote($key): $value);

		@if $root {
			$-props-root: map.merge($-props-root, $prop-map) !global;
		}
		$-props: map.merge($-props, $prop-map) !global;
	}
}

@mixin -add($root, $additions...) {
	$keywords: meta.keywords($additions);

	@if list.length($keywords) > 0 {
		@each $key, $value in $keywords {
			@include -add-one($key, $value, $root);
		}
	}
	@else {
		@each $addition in $additions {
			@if meta.type-of($addition) == 'map' {
				@each $key, $value in $addition {
					@include -add-one($key, $value, $root);
				}
			}
			@else {
				@error 'Additions must all be `$variable: value` pairs.';
			}
		}
	}
}
