@use 'properties' as props;

$radius-sm: 0.125rem !default;
$radius-md: 0.25rem !default;
$radius-lg: 0.5rem !default;
$radius-xl: 1rem !default;
$radius-pill: 99rem !default;
$radius-base: props.prop('radius-sm') !default;
