@use 'sass:meta';
@use 'sass:map';
@use 'util';
@use 'properties' as *;

// FUNCTIONS

@function -spacer($px, $unit-from, $unit-to) {
	@if $px % $base != 0 {
		$val: if($unit-from == 'px', #{$px}px, #{util.px-rem($px)}rem);

		@warn '#{$val} is not a valid spacing unit. Spacing units must be a multiple of #{$base}px.';
	}

	@return if($unit-to == 'px', #{$px}px, #{util.px-rem($px)}rem);
}

@function px-rem($px) {
	@return -spacer($px, 'px', 'rem');
}

@function rem-px($rem) {
	@return -spacer(util.rem-px($rem), 'rem', 'px');
}

@function px($val) {
	@return -spacer($val, 'px', 'px');
}

@function rem($val) {
	@return -spacer(util.rem-px($val), 'rem', 'rem');
}

// TOKENS

$base: 4 !default;

$zindex-focus: 980;
// z-index values from Bootstrap
// https://v5.getbootstrap.com/docs/5.0/layout/z-index/
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

@include root-props(
	$zindex-focus: $zindex-focus,
	$zindex-dropdown: $zindex-dropdown,
	$zindex-sticky: $zindex-sticky,
	$zindex-fixed: $zindex-fixed,
	$zindex-modal-backdrop: $zindex-modal-backdrop,
	$zindex-modal: $zindex-modal,
	$zindex-popover: $zindex-popover,
	$zindex-tooltip: $zindex-tooltip,
);
