@use '../../util';

@mixin base {
	display: inline-flex;
	max-width: 100%;
	max-height: 100%;
	align-items: center;
}

@mixin top {
	flex-direction: column-reverse;

	span {
		margin-bottom: 10px;
	}
}

@mixin bottom {
	flex-direction: column-reverse;

	span {
		margin-top: 10px;
	}
}

@mixin left {
	span {
		margin-left: 10px;
	}
}

@mixin right {
	span {
		margin-right: 10px;
	}
}

@mixin style {
	@include util.declare('progressindicator') {
		.nds-progressindicator {
			@include base;
		}

		.nds-top {
			@include top;
		}

		.nds-bottom {
			@include bottom;
		}

		.nds-left {
			@include left;
		}

		.nds-right {
			@include right;
		}
	}
}
