@import '@nds/core/src/components/button/index';
@import '@nds/core/src/components/checkbox/index';
@import '@nds/core/src/components/radio/index';
@import '@nds/core/src/globals/scss/tokens/color-functional';

.mc {
	padding: 0;
	margin: 0;
	border: 0;
}

.mc__prompt {
	@include checkbox-label;
}

.mc__description {
	@include checkbox-help;
}

.mc__choices {
	padding: 0;
	margin: 0.5rem 0 0;
}

.mc__choice {
	display: flex;
	margin-bottom: 0.5rem;
}

.mc__choice.incorrect {
	@include button-solid($red);

	pointer-events: none;
}

.mc__choice.correct {
	@include button-solid($green);

	pointer-events: none;
}
