@import './tokens';
@import '../../globals/scss/functions';
@import '../../globals/scss/mixins';

@mixin checkbox-container {
	position: relative;
	display: flex;
	padding-left: $checkbox-container-padding;
}

@mixin checkbox-control {
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: $checkbox-size;
	height: $checkbox-size;
	box-sizing: border-box;
	color: $checkbox-color;
	content: '';
	background-color: $checkbox-bg-unchecked;
	border: $checkbox-border-width solid map-get($checkbox-border-color, 60);
	border-radius: $checkbox-border-radius;
}

@mixin checkbox-control-error {
	border: $checkbox-border-width solid map-get($checkbox-border-color-error, 60);
}

@mixin checkbox-control-checked {
	background-color: map-get($checkbox-bg-checked, 60);
	border: $checkbox-border-width solid map-get($checkbox-bg-checked, 60);
}

@mixin checkbox-control-checked-error {
	background-color: map-get($checkbox-bg-checked-error, 60);
}

@mixin checkbox-label {
	font-size: $checkbox-label-font-size;
}

@mixin checkbox-help {
	font-size: $checkbox-help-font-size;
	color: map-get($checkbox-help-color, 60);
}

@mixin checkbox-error {
	padding-left: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	font-size: $checkbox-error-font-size;
	font-style: $checkbox-error-font-style;
	font-weight: $checkbox-error-font-weight;
	color: map-get($checkbox-error-color, 60);
	list-style-type: none;
}

@mixin checkbox-thumbnail {
	margin-right: $checkbox-gap;
}
