@import './tokens';
@import '../../globals/scss/functions';
@import '../../globals/scss/mixins';

@mixin checkbox-container {
	padding-right: $checkbox-container-padding;
	padding-left: $checkbox-container-padding;
	font-family: $checkbox-container-font-family;
	line-height: $checkbox-container-line-height;
}

@mixin checkbox-input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

@mixin checkbox-control {
	position: absolute;
	left: 0;
	display: inline-block;
	width: $checkbox-width;
	height: $checkbox-height;
	overflow: hidden;
	color: $checkbox-glyph-color;
	content: '';
	background-color: $checkbox-bg-unchecked;
	border: $checkbox-border-width solid $checkbox-border-color;
	border-radius: $checkbox-border-radius;
}

@mixin checkbox-control-disabled {
	background-color: $checkbox-bg-unchecked-disabled;
}

@mixin checkbox-control-error {
	background-color: $checkbox-bg-unchecked-error;
	border: $checkbox-border-width solid $checkbox-border-color-error;
}

@mixin checkbox-control-checked {
	content: $checkbox-checkmark;
	background-color: $checkbox-bg-checked;
	border: $checkbox-border-width solid $checkbox-bg-checked;
}

@mixin checkbox-control-checked-disabled {
	background-color: $checkbox-bg-checked-disabled;
	border: $checkbox-border-width solid $checkbox-bg-checked-disabled;
}

@mixin checkbox-control-checked-error {
	background-color: $checkbox-bg-checked-error;
}

@mixin checkbox-label {
	font-size: $checkbox-label-font-size;
	color: $checkbox-label-color;
	letter-spacing: $checkbox-label-letter-spacing;
	vertical-align: top;
	cursor: $checkbox-cursor;
}

@mixin checkbox-label-disabled {
	cursor: $checkbox-cursor-disabled;
}

@mixin checkbox-help {
	font-size: $checkbox-help-font-size;
	color: $checkbox-help-color;
	letter-spacing: $checkbox-help-letter-spacing;
}

@mixin checkbox-error {
	font-size: $checkbox-error-font-size;
	font-style: $checkbox-error-font-style;
	font-weight: $checkbox-error-font-weight;
	color: $checkbox-error-color;
	letter-spacing: $checkbox-error-letter-spacing;
}

@mixin checkbox-indeterminate {
	content: $checkbox-indeterminate;
}
