@import '../../globals/scss/tokens';

// .checkbox__label:before element
$checkbox-bg-checked: $teal !default;
$checkbox-bg-checked-error: $color-error !default;
$checkbox-bg-unchecked: $white !default;
$checkbox-bg-unchecked-error: $color-error !default;
$checkbox-border-color: $navy !default;
$checkbox-border-color-error: $color-error !default;
$checkbox-border-radius: 2px !default;
$checkbox-border-width: 2px !default;
$checkbox-gap: 0.5rem !default;
$checkbox-size: 1rem;
$checkbox-color: $white;

// Container element
$checkbox-container-padding: calc(#{$checkbox-size} + #{$checkbox-gap}) !default;

// Error element
$checkbox-error-color: $color-error !default;
$checkbox-error-font-size: 0.875rem !default;
$checkbox-error-font-style: italic !default;
$checkbox-error-font-weight: 600 !default;

// Help element
$checkbox-help-color: $navy !default;
$checkbox-help-font-size: 0.875rem !default;

// Label Element
$checkbox-label-font-size: 1rem !default;

