@import './tokens';
@import './mixins';
@import '../../globals/scss/mixins/screen-reader';

.checkbox {
	@include checkbox-container;
}

.checkbox__error {
	@include checkbox-error;
}

.checkbox__help {
	@include checkbox-help;
}

.checkbox__control {
	@include checkbox-control;

	.icon {
		display: none;
	}
}

.checkbox__label {
	@include checkbox-label;
}

.checkbox__thumbnail {
	@include checkbox-thumbnail;
}

.checkbox__input {
	@include sr-only;

	&[aria-invalid=true] + .checkbox__control {
		@include checkbox-control-error;
	}

	&.focus + .checkbox__control,
	&:focus + .checkbox__control {
		@include focus-indicator;
	}

	&:checked + .checkbox__control {
		@include checkbox-control-checked;
	}

	&:checked + .checkbox__control .icon {
		display: block;
	}

	&.indeterminate + .checkbox__control,
	&:indeterminate + .checkbox__control {
		@include checkbox-control-checked;
	}

	&.indeterminate + .checkbox__control .icon,
	&:indeterminate + .checkbox__control .icon {
		display: block;
	}

	&:disabled + .checkbox__control,
	&:disabled:indeterminate + .checkbox__control {
		border-color: map-get($color-disabled, 20);
	}

	&:disabled:checked + .checkbox__control,
	&:disabled:indeterminate + .checkbox__control {
		background-color: map-get($color-disabled, 20);
	}

	&:disabled ~ .checkbox__thumbnail,
	&.disabled ~ .checkbox__thumbnail {
		opacity: 0.2;
	}

	&.disabled ~ .checkbox__container,
	&:disabled ~ .checkbox__container,
	&.disabled ~ .checkbox__container .checkbox__help,
	&:disabled ~ .checkbox__container .checkbox__help {
		color: map-get($color-disabled, 40);
	}
}
