@use '../../a11y';
@use '../../motion';
@use '../../spacing';
@use '../../util';
@use '../../properties' as props;

@mixin control {
	color: props.prop('body-bg');

	:checked + &,
	:indeterminate + & {
		@include props.set(
			$bg-color: props.prop('primary'),
		);

		border-color: transparent;
	}

	.focus + &,
	:focus + & {
		@include a11y.focus-ring;
	}

	[aria-invalid='true'] + & {
		@include props.set(
			$checkbox-border: props.prop('error'),
		);
	}

	.disabled:checked + &,
	:disabled:checked + &,
	.disabled:indeterminate + &,
	:disabled:indeterminate + & {
		@include props.set($checkbox-bg: props.prop('disabled-20'));

		color: props.prop('body-bg');
		border-color: transparent;
	}

	> .#{util.prefix('icon')} {
		transform: scale(1.25);
	}
}

@mixin style {
	@include util.declare('checkbox') {
		.#{util.prefix('field__control--checkbox')} {
			@include control;
		}
	}
}
