////
/// Motion
/// An implementation of Material Design's motion guidelines.
/// @group Motion
/// @source https://material.io/design/motion/understanding-html Material Design: Understanding Motion
////


/// A multiplier used for increasing/decreasing all motion speed.
$duration-scalar: 1 !default;

/// A duration used for simple animations such as selection controls.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-simple: 100ms;
/// A duration used for simple entrances such as fade-ins.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-simple-enter: 150ms;
/// A duration used for simple exits such as fade-outs.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-simple-exit: 75ms;
/// A duration used for complex animations such as shape changes.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-complex: 200ms;
/// A duration used for detailed animations such as icon transformations.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-detailed: 500ms;

/// A duration used for elements that open from a closed state, such as a sidebar.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-open: 250ms;
/// A duration used for elements that close from an opened state, such as a sidebar.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-close: 200ms;
/// A duration used when an element expands (grows).
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-expand: 300ms;
/// A duration used when an element collapses (shrinks).
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-collapse: 250ms;

/// A duration used for elements with a small transition areas, such as icons and selection controls.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-small: var(--nds-duration-simple);
/// A duration used for expanding elements with larger transition areas, such as bottom sheets and expanding chips.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-medium-expand: var(--nds-duration-open);
/// A duration used for collapsing elements with larger transition areas, such as bottom sheets and expanding chips.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-medium-collapse: var(--nds-duration-close);
/// A duration used for expanding elements that traverse a large portion of the screen.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-large-expand: var(--nds-duration-expand);
/// A duration used for collapsing elements that traverse a large portion of the screen.
/// @source https://material.io/design/motion/speed.html#duration Material Design: Durations
$duration-large-collapse: var(--nds-duration-collapse);

/// Standard easing puts subtle attention at the end of an animation, by giving
/// more time to deceleration than acceleration. It is the most common form of
/// easing.
///
/// Elements that begin and end at rest use standard easing. They speed up
/// quickly and slow down gradually, in order to emphasize the end of the
/// transition.
/// @source https://material.io/design/motion/speed.html#easing Material Design: Easings
$easing-standard: cubic-bezier(0.4, 0, 0.2, 1);

/// Incoming elements are animated using deceleration easing, which starts a
/// transition at peak velocity (the fastest point of an element’s movement) and
/// ends at rest.
/// @source https://material.io/design/motion/speed.html#easing Material Design: Easings
$easing-deceleration: cubic-bezier(0, 0, 0.2, 1);

/// Elements exiting a screen use acceleration easing, where they start at rest
/// and end at peak velocity.
/// @source https://material.io/design/motion/speed.html#easing Material Design: Easings
$easing-acceleration: cubic-bezier(0.4, 0, 1, 1);

/// Timing function to quickly accelerate and decelerate
/// @source https://material.io/design/motion/speed.html#easing Material Design: Easings
/// @source https://github.com/material-components/material-components-web/tree/master/packages/mdc-animation @material/animation
$easing-sharp: cubic-bezier(0.4, 0, 0.6, 1);

:root {
	--nds-duration-scalar: #{$duration-scalar};
	--nds-duration-simple: #{$duration-simple};
	--nds-duration-simple-enter: #{$duration-simple-enter};
	--nds-duration-simple-exit: #{$duration-simple-exit};
	--nds-duration-complex: #{$duration-complex};
	--nds-duration-detailed: #{$duration-detailed};
	--nds-duration-open: #{$duration-open};
	--nds-duration-close: #{$duration-close};
	--nds-duration-expand: #{$duration-expand};
	--nds-duration-collapse: #{$duration-collapse};
	--nds-duration-small: #{$duration-small};
	--nds-duration-medium-expand: #{$duration-medium-expand};
	--nds-duration-medium-collapse: #{$duration-medium-collapse};
	--nds-duration-large-expand: #{$duration-large-expand};
	--nds-duration-large-collapse: #{$duration-large-collapse};
	--nds-easing-standard: #{$easing-standard};
	--nds-easing-deceleration: #{$easing-deceleration};
	--nds-easing-acceleration: #{$easing-acceleration};
	--nds-easing-sharp: #{$easing-sharp};
}
