@import '../tokens/shadow';

/// A box shadow focus indicator.
/// @param {String[]} $current-shadows... - One or more additional shadows to be applied in addition to the focus indicator.
@mixin focus-indicator ($current-shadows...) {
	outline: none;
	box-shadow: $current-shadows, $focus-indicator;

	&:not(:focus-visible) {
		box-shadow: none;
	}
}
