////
/// @group Utilities
////

@import '../tokens/device';

/// High Resolution
/// A media selector for high resolution/definition screens.
/// @param {Number} $dpi [$dpi-hd] The dpi of a high-resolution (HD) screen
/// @param {Number} $dppx [$dppx-hd] The dppx of a high-resolution (HD) screen
/// @alias hd
/// @see https://medium.com/@micjamking/hd-retina-display-media-queries-b5562b5430d6
@mixin high-resolution($dpi: $dpi-hd, $dppx: $dppx-hd) {
	@media only screen and (min-resolution: #{$dpi}dpi), only screen and (min-resolution: #{$dppx}dppx) {
		@content;
	}
}

/// @alias high-resolution
@mixin hd($args...) {
	@include high-resolution($args...);
}

/// Reduce Motion
/// Disable animations and transitions on the given selectors when they are
/// either children of `.reduced-motion` or the user has specified that they
/// prefer reduced motion at their operating system level.
/// @param {String[]} $selectors - One or more CSS selectors.
@mixin reduce-motion ($selectors...) {
	@for $i from 0 to length($selectors) {
		@media screen and (prefers-reduced-motion: reduce) {
			#{nth($selectors, $i + 1)} {
				transition: none !important;
				animation: none !important;
			}
		}

		.reduced-motion {
			#{nth($selectors, $i + 1)} {	// stylelint-disable max-nesting-depth
				transition: none !important;
				animation: none !important;
			}
		}
	}
}
