////
/// @group Spacing
////

@use 'sass:meta';
@use 'sass:map';
@use '../util';

$base-unit: 4;

// FUNCTIONS

// Convert a px value to a spacer unit. Spacers must be divisible by the `$base-unit`
// in pixels (default: 4) in order to conform to the underlying pixel grid. A
// warning will be emitted when a provided value does not conform.
@function -spacer($px, $unit-from, $unit-to) {
	@if $px % $base-unit != 0 {
		$val: if($unit-from == 'px', #{$px}px, #{util.px2rem($px)}rem);

		@warn '#{$val} is not a valid spacing unit. Spacing units must be a multiple of #{$base-unit}px.';
	}

	@return if($unit-to == 'px', #{$px}px, #{util.px2rem($px)}rem);
}

/// Convert a px value to a rem spacer.
@function px-rem($px) {
	@return -spacer($px, 'px', 'rem');
}

/// Convert a rem value to a px spacer.
@function rem-px($rem) {
	@return -spacer(util.rem2px($rem), 'rem', 'px');
}

/// Use a px value as a px spacer.
@function px($val) {
	@return -spacer($val, 'px', 'px');
}

/// Use a rem value as a rem spacer.
@function rem($val) {
	@return -spacer(util.rem2px($val), 'rem', 'rem');
}

/// Padding helper
/// Ensures that padding fits the design system box model.
/// @param {String|Number} $padding-length - The desired padding length.
/// @param {String|Number} $border-width [0] - The desired border width.
/// @link https://gitlab.com/wwnorton/platform/design-system/-/issues/96 GitLab Issue
@function padding($padding-length, $border-width: 0) {
	@if $border-width {
		@if $border-width == 0 {
			@return $padding-length;
		}

		@return calc(#{$padding-length} - #{$border-width});
	}

	@return $padding-length;
}

@function padding-x($padding-length: var(--nds-padding-x), $border-width: var(--nds-border-width)) {
	@return padding($padding-length, $border-width);
}

@function padding-y($padding-length: var(--nds-padding-y), $border-width: var(--nds-border-width)) {
	@return padding($padding-length, $border-width);
}

$-spacer-roles: (
	(
		keys: ('1px'),
		token: 'spacing-1px',
	),
	(
		keys: ('2px'),
		token: 'spacing-2px',
	),
	(
		keys: (1, '0.25rem', '4px', 'ui-inner'),
		token: 'spacing-1',
	),
	(
		keys: (2, '0.5rem', '8px', 'button-y', 'input-y', 'tooltip-y', 'inline-x-sm', 'block-xs', 'cell-sm'),
		token: 'spacing-2',
	),
	(
		keys: (
			3,'0.75rem', '12px', 'button-x', 'input-x', 'dropdown-x', 'tooltip-x', 'inline-x-md', 'disclosure-y', 'block-sm'
		),
		token: 'spacing-3',
	),
	(
		keys: (4, '1rem', '16px', 'block-base', 'cell-base','popover-x','popover-y', 'modal-y'),
		token: 'spacing-4',
	),
	(
		keys: (5, '1.25rem', '20px'),
		token: 'spacing-5',
	),
	(
		keys: (6, '1.5rem', '24px', 'disclosure-x', 'callout-x', 'callout-y'),
		token: 'spacing-6',
	),
	(
		keys: (8, '2rem', '32px', 'modal-x'),
		token: 'spacing-8',
	),
	(
		keys: (10, '2.5rem', '40px'),
		token: 'spacing-10',
	),
	(
		keys: (12, '3rem', '48px'),
		token: 'spacing-12',
	),
);

/// Get a spacer from a role or a value.
@function spacer($role: 'block') {
	@return var(--nds-#{util.from-role($role, 'spacing', $-spacer-roles)});
}

/// Utility declarations for spacing tokens.
/// @group Utilities
@mixin spacing-utilities {
	@include util.declare('utilities-spacing') {
		$-spacers: ('0', '1px', '2px', '1', '2', '3', '4', '5', '6', '8', '10', '12');
		$-dirs: (
			't': ('top'),
			'r': ('right'),
			'b': ('bottom'),
			'l': ('left'),
			'x': ('left', 'right'),
			'y': ('top', 'bottom'),
		);

		@each $spacer in $-spacers {
			@each $dir, $props in $-dirs {
				.nds-p#{$dir}#{$spacer} {
					@each $prop in $props {
						padding-#{$prop}: var(--nds-spacing-#{$spacer}) !important;
					}
				}
				.nds-m#{$dir}#{$spacer} {
					@each $prop in $props {
						margin-#{$prop}: var(--nds-spacing-#{$spacer}) !important;
					}
				}
			}
		}
	}
}
