////
/// @group Spacing
////

// TOKENS

$spacing-0: 0;
$spacing-1px: 1px;
$spacing-2px: 2px;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-10: 2.5rem;
$spacing-12: 3rem;

/// Spacing tokens as CSS custom properties.
@mixin spacing-tokens {
	--nds-spacing-0: #{$spacing-0};
	--nds-spacing-1px: #{$spacing-1px};
	--nds-spacing-2px: #{$spacing-2px};
	--nds-spacing-1: #{$spacing-1};
	--nds-spacing-2: #{$spacing-2};
	--nds-spacing-3: #{$spacing-3};
	--nds-spacing-4: #{$spacing-4};
	--nds-spacing-5: #{$spacing-5};
	--nds-spacing-6: #{$spacing-6};
	--nds-spacing-8: #{$spacing-8};
	--nds-spacing-10: #{$spacing-10};
	--nds-spacing-12: #{$spacing-12};
}
