$color: var(--nds-primary-color) !default;
$track-color: var(--nds-base-color-30) !default;
$label-color: var(--nds-subdued-color) !default;

$color-dark: var(--nds-primary-color-30) !default;
$track-color-dark: var(--nds-base-color-50) !default;
