// @use '@nds/core/src/components/dropdown';

.scrollbox {
	display: block;
	height: 400px;
	margin: 40px auto;
	content: '';

	&::before,
	&::after {
		display: block;
		height: 70vh;
		content: '';
	}
}

.fixed-width {
	width: 12rem;
}

.fruits {
	width: 6em;
}

.form-control {
	margin-bottom: 1rem;
}
