@forward 'tokens';
@use 'tokens';
@use 'sass:map';
@use '../../color';
@use '../../device';
@use '../../spacing';
@use '../../type';
@use '../../util';

@mixin base {
	--nds-modal-border-width: #{tokens.$border-width};
	--nds-modal-padding-x: #{tokens.$padding-x};
	--nds-modal-padding-y: #{tokens.$padding-y};
	--nds-modal-width: #{tokens.$width};
	--nds-modal-border-radius: #{tokens.$border-radius-mobile};
	--nds-modal-max-width: #{tokens.$max-width-mobile};
	--nds-modal-offset-y: #{tokens.$offset-y-mobile};

	width: var(--nds-modal-width);
	max-width: var(--nds-modal-max-width);
	min-height: 100%;
	background-color: var(--nds-background-color);
	border-radius: var(--nds-modal-border-radius);

	@include device.media-up('sm') {
		--nds-modal-border-radius: #{tokens.$border-radius-desktop};
		--nds-modal-max-width: #{tokens.$max-width-desktop-md};
		--nds-modal-offset-y: #{tokens.$offset-y-desktop};

		min-height: unset;
		margin: 0 auto;

		&.nds-modal--large {
			--nds-modal-max-width: #{tokens.$max-width-desktop-lg};
		}
	}

	.nds-modal--long & {
		margin-top: var(--nds-modal-offset-y);
		margin-bottom: var(--nds-modal-offset-y);
	}
}

@mixin backdrop {
	--nds-modal-backdrop-opacity: #{tokens.$backdrop-opacity};

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, var(--nds-modal-backdrop-opacity));

	@include device.media-up('sm') {
		&:not(.nds-modal--long) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

@mixin header {
	position: relative;
	padding: var(--nds-modal-padding-y) var(--nds-modal-padding-x);
	background-color: var(--nds-base-color-10);
	border-bottom: var(--nds-modal-border-width) solid var(--nds-base-color-30);
	border-top-left-radius: var(--nds-modal-border-radius);
	border-top-right-radius: var(--nds-modal-border-radius);

	&:focus {
		box-shadow: unset;
	}

	[aria-label] > & {
		background-color: unset;
		border-bottom: unset;
	}

	&.nds-modal__header--sticky {
		position: sticky;
		top: -1px;
	}

	&.nds-stuck {
		box-shadow: 0 0 8px 0 rgba(var(--nds-black), 0.25);
	}
}

@mixin title {
	margin: 0;

	@include type.heading-4;

	&:not(:last-child) {
		padding-right: calc(var(--nds-modal-padding-x) / 2);
	}
}

@mixin close-btn {
	position: absolute;
	top: 0;
	right: 0;
	// TODO: use a token for these rem values
	transform:
		translate(
			calc(-50% + 0.125rem + var(--nds-modal-border-width)),
			calc(50% - 0.5rem - var(--nds-modal-border-width))
		);

	@include util.set(
		$nds-button-color: color.family('button-color', 'base-color'),
	);
}

@mixin content {
	padding:
		calc(var(--nds-modal-padding-y) * 2)
		var(--nds-modal-padding-x)
		calc(var(--nds-modal-padding-y) * 2.5);
	background-color: var(--nds-background-color);

	> :last-child {
		margin-bottom: 0;
	}

	&:last-child {
		border-bottom-right-radius: var(--nds-modal-border-radius);
		border-bottom-left-radius: var(--nds-modal-border-radius);
	}

	&:focus {
		box-shadow: unset;
	}

	.nds-modal__close:first-child & {
		padding-top: calc(var(--nds-modal-padding-y) * 3.5);
	}
}

@mixin actionbar {
	display: flex;
	padding: var(--nds-modal-padding-y) var(--nds-modal-padding-x);
	background-color: var(--nds-background-color);
	border-top: var(--nds-modal-border-width) solid var(--nds-base-color-30);
	border-bottom-right-radius: var(--nds-modal-border-radius);
	border-bottom-left-radius: var(--nds-modal-border-radius);
	justify-content: flex-end;

	> * + * {
		margin-left: spacing.spacer('inline-x-md');
	}

	&.nds-modal__actionbar--fixed {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: var(--nds-background-color);
	}

	&.nds-modal__actionbar--sticky {
		position: sticky;
		bottom: -1px;
	}

	&.nds-stuck {
		box-shadow: 0 0 8px 0 rgba(var(--nds-black), 0.25);
	}
}

@mixin style {
	@include util.declare('modal') {
		.nds-modal {
			@include base;
		}

		.nds-modal__backdrop {
			@include backdrop;
		}

		.nds-modal__header {
			@include header;
		}

		.nds-modal__title {
			@include title;
		}

		.nds-modal__close {
			@include close-btn;
		}

		.nds-modal__content {
			@include content;
		}

		.nds-modal__actionbar {
			@include actionbar;
		}
	}
}
