@use '../../../core';

* {
	box-sizing: border-box;
}

.modal {
	position: relative;
	display: flex;
	max-width: 700px;
	flex-direction: column;
	background-color: #fff;
	border-radius: 0.25rem;
}

.modal__backdrop {
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal__header {
	display: flex;
	padding: 1rem 2rem;
	margin: 0;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	align-items: center;
	justify-content: end;

	&:focus {
		outline: none;
	}
}

.modal__title {
	padding: 0;
	margin: 0;
	font-size: 1.125rem;
	line-height: 2;
}

.modal__close {
	min-width: 2.25rem;
	min-height: 2.25rem;
	border-radius: 0.25rem;
	transform: translateX(calc(50% - 0.125rem));
	align-self: start;
}

.modal__content {
	padding: 0 2rem 2.5rem;
}

.modal__actionbar {
	display: flex;
	padding: 1rem 2rem;
	border-top: 1px solid darken(#f2f5f8, 10%);
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	justify-content: end;

	button + button {
		margin-left: 0.5rem;
	}
}

.modal__header--visible {
	padding: 1rem 2rem;
	justify-content: space-between;
	background-color: #f2f5f8;
	border-bottom: 1px solid darken(#f2f5f8, 10%);

	+ .modal__content {
		padding-top: 2rem;
	}
}

// storybook-only styles

.modal__content p {
	margin: 0;
}

.modal .textfield {
	margin-bottom: 1.5rem;
}

.sr-only {
	// @include a11y-sr-only;
}
