// Named color tokens
$white: (
	0: #fdfdfd
) !default;

$black: (
	100: #101010
) !default;

$gray: (
	10: #f5f5f5,
	20: #e8e8e8,
	30: #d6d6d6,
	40: #bdbdbd,
	50: #919191,
	60: #737373,
	70: #595959,
	80: #424242,
	90: #333,
	100: #232323,
) !default;

$navy: (
	10: #f2f5f8,
	20: #e2e8ee,
	30: #ced7e0,
	40: #b1bdc9,
	50: #8493a3,
	60: #63768a,
	70: #475b70,
	80: #32475e,
	90: #243547,
	100: #192633,
) !default;

$red: (
	10: #fff2f2,
	20: #ffe0e0,
	30: #ffc8c7,
	40: #ffa2a1,
	50: #f2615e,
	60: #c93f3c,
	70: #9e3331,
	80: #7a2a28,
	90: #591e1d,
	100: #3d1515,
) !default;

$yellow: (
	10: #fff5d9,
	20: #fae7af,
	30: #f0d278,
	40: #deb647,
	50: #b88828,
	60: #96690e,
	70: #7a4f11,
	80: #633b12,
	90: #4a2a0f,
	100: #331d0d,
) !default;

$green: (
	10: #e6fae6,
	20: #d0f2d0,
	30: #aae3aa,
	40: #73d173,
	50: #44a644,
	60: #228522,
	70: #216621,
	80: #1c4f1c,
	90: #163b16,
	100: #112911,
) !default;

$teal: (
	10: #e9f7f7,
	20: #d1eded,
	30: #abe0e0,
	40: #6bcdcf,
	50: #29a1a3,
	60: #1a8082,
	70: #196263,
	80: #174c4d,
	90: #133838,
	100: #0f2929,
) !default;

$cyan: (
	10: #e9f7fb,
	20: #d3eef5,
	30: #afe0ed,
	40: #75c9e0,
	50: #2c9fbf,
	60: #1f7e99,
	70: #1c6275,
	80: #1b4c59,
	90: #163740,
	100: #10252b,
) !default;

$color-maps: (
	gray: $gray,
	navy: $navy,
	red: $red,
	yellow: $yellow,
	green: $green,
	teal: $teal,
	cyan: $cyan,
	white: $white,
	black: $black
) !default;
