// System font stacks from https://systemfontstack.com/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif !default;
$font-family-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !default;
$font-family-monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace !default;

$font-family-base: $font-family-sans-serif !default;
