@use '../../spacing';

$color: 'base-color' !default;
$background-grade: 10 !default;
$primary-color: var(--nds-primary-color-50) !default;
$base-color: var(--nds-base-color-90) !default;
$tab-focus-color: var(--nds-focus-color-background) !default;
