@import './tokens';
@import '../../globals/scss/mixins';

@mixin radio-base {
	display: flex;
}

@mixin radio-container {
	display: flex;
	flex-direction: column;
}

@mixin radio-label {
	// cursor: pointer;
}

@mixin radio-control {
	position: relative;
	top: $radio-border-size;
	left: $radio-border-size;
	width: $radio-control-size;
	height: $radio-control-size;
	box-sizing: border-box;
	margin-right: $radio-gap;
	cursor: pointer;
	background-color: $radio-bg-unchecked;
	border: $radio-border-size solid map-get($radio-border-unchecked, 60);
	border-radius: $radio-border-radius;
}

@mixin radio-checked {
	border-color: map-get($radio-border-checked, 60);
	box-shadow: $radio-check;
}

@mixin radio-thumbnail {
	margin-right: $radio-gap;
}

@mixin radio-help {
	font-size: $radio-help-font-size;
	color: map-get($radio-help-color, 60);
}

@mixin radio-focus-check {
	border-color: map-get($radio-border-checked, 60);
	box-shadow: $radio-check-focus;
}
