@use '../../a11y';
@use '../../motion';
@use '../../spacing';
@use '../../util';
@use '../../properties' as props;

@mixin control {
	$-inner-ring: inset 0 0 0 props.prop('border-width') props.prop('body-bg');

	border-radius: 100%;

	:checked + & {
		box-shadow: $-inner-ring;
	}

	.focus + &,
	:focus + & {
		@include a11y.focus-ring($-inner-ring);
	}

	[aria-invalid='true'] + & {
		@include props.set($bg-color: props.prop('error'));
	}
}

@mixin style {
	@include util.declare('radio') {
		.#{util.prefix('field__control--radio')} {
			@include control;
		}
	}
}
