@import './tokens';
@import '../../globals/scss/functions';
@import '../../globals/scss/mixins';
@import '../../globals/scss/tokens';

@mixin button-base {
	position: relative;
	display: inline-flex;
	box-sizing: border-box;
	padding: $button-padding-y $button-padding-x;
	font-family: $button-font-family;
	font-size: $button-font-size;
	line-height: $button-line-height;
	border: $button-border-radius solid transparent;
	border-radius: $button-border-radius;
	justify-content: center;
	align-items: center;

	&::-moz-focus-inner {
		border: 0;
	}

	&:disabled,
	&.disabled {
		color: map-get($color-disabled, 40);
		pointer-events: none;
	}
}

@mixin button-variant (
	$color,
	$background-color,
	$border-color
) {
	font-weight: $button-font-weight;
	color: $color;
	cursor: pointer;
	background-color: $background-color;
	border-color: $border-color;
	transition: $button-transition;

	&:focus,
	.focus {
		@include focus-indicator;
	}
}

@mixin button-solid (
	$color-map: $button-color-solid,
	$color-step: 60,
) {
	$background: map-get($color-map, $color-step);
	$color: if($color-step > 50, $white, $black);
	$active: active-color($color-map, $color-step);
	$hover: hover-color($color-map, $color-step);

	@include button-variant($color, $background, $background);

	&:disabled,
	&.disabled {
		background-color: map-get($color-disabled, 20);
		border-color: map-get($color-disabled, 20);
	}

	&:not(:disabled):not(.disabled):hover,
	&:not(:disabled):not(.disabled).hover {
		background-color: $hover;
		border-color: $hover;
	}

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		background-color: $active;
		border-color: $active;
	}
}

@mixin button-outline (
	$color-map: $button-color-outline,
	$color-step: 60,
) {
	$background: if($color-step > 50, $white, $black);
	$color: map-get($color-map, $color-step);
	$active: active-color($color-map, $color-step);
	$hover: hover-color($color-map, $color-step);

	@include button-variant($color, $background, $color);

	&:disabled,
	&.disabled {
		border-color: map-get($color-disabled, 20);
	}

	&:not(:disabled):not(.disabled):hover,
	&:not(:disabled):not(.disabled).hover {
		color: $hover;
		border-color: $hover;
	}

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		color: $active;
		border-color: $active;
	}
}

@mixin button-ghost (
	$color-map: $button-color-ghost,
	$color-step: 60,
) {
	$background: if($color-step > 50, $white, $black);
	$color: map-get($color-map, $color-step);
	$active: active-color($color-map, $color-step);
	$hover: hover-color($color-map, $color-step);

	@include button-variant($color, $background, $background);

	&:not(:disabled):not(.disabled):hover,
	&:not(:disabled):not(.disabled).hover {
		color: $hover;
		background-color: map-get($color-disabled, 10);
		border-color: map-get($color-disabled, 10);
	}

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		color: $active;
	}
}

@mixin button-icon-only {
	padding: $button-padding-y;

	> :first-child {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}

@mixin button-icon {
	height: $button-icon-height;
	margin: 0 0.25rem;

	&:first-child {
		margin-left: -0.25rem;
	}

	&:last-child {
		margin-right: -0.25rem;
	}
}
