@use '../../color';
@use '../../spacing';
@use '../../properties' as props;

$button-color: color.family('button-color', 'primary', color.get-grade('primary')) !default;
$border-width: 1px !default;
$padding-x: spacing.px-rem(12) !default;
$padding-y: spacing.px-rem(8) !default;
$border-radius: props.prop('radius-base') !default;
$font-weight: props.prop('font-weight-bold') !default;
