@use '../../a11y';
@use '../../util';

// TODO: add tokens
$debug: false;

@mixin base {
	// This is the width of the outline of the handle
	// when the slider is focused.
	// We use this to add padding to the rail container
	// so that the outline is not cut off.
	--handle-outline-width: 3px;
	--handle-left: 0%;
	--handle-size: 1.5rem;
	--rail-height: 0.5rem;
	--input-z-index: 20;
	--handle-z-index: 10;
	--input-top-offset: -5px;
	--min-width: 100px;
	--rail-top: calc(50% - var(--rail-height) / 2);
	--animation-duration: 0.1s;
	--animation: transform var(--animation-duration) ease-out;
	--marker-animation: background-color var(--animation-duration) ease-out;
	--rail-width: calc(100% - var(--handle-outline-width) * 2);
	--rail-color: var(--nds-navy-30);
	--rail-in-range-color: var(--nds-teal-60);
	--marker-color: var(--nds-navy-80);
	--marker-in-range-color: var(--nds-white);
	--marker-size: 4px;
	--marker-padding: calc(var(--handle-size) / 2 - var(--marker-size) / 2);
	--markers-container-width: calc(var(--rail-width) - var(--marker-padding) * 2);
	--markers-container-custom-width: calc(var(--markers-container-width) - var(--marker-size));

	// Offset to align the markers container with the center of the thumb.
	--markers-container-offset: calc(var(--handle-size) / 2);
	--labels-container-width: calc(100% - var(--markers-container-offset) * 2);

	min-width: var(--min-width);
}

@mixin handle-container {
	--handle-left: 0;

	position: relative;
	top: -100%;
	left: 0;
	z-index: var(--handle-z-index);
	width: calc(100% - var(--handle-size));
	transition: var(--animation);
	transform: translateX(var(--handle-left));
	transform-origin: center left;
}

@mixin handle {
	width: var(--handle-size);
	height: var(--handle-size);
	background-color: var(--nds-white);
	border: 2px solid var(--nds-teal-60);
	border-radius: 50%;
}

@mixin handle-active {
	background-color: var(--nds-navy-30);
}

@mixin rail-container {
	position: relative;

	// We need to add a padding and a negative margin to the rail container
	// so that the outline of the handle is not cut off.
	padding: var(--handle-outline-width);
	margin: calc(var(--handle-outline-width) * -1);
	overflow: hidden;
}

@mixin rail {
	position: absolute;
	top: var(--rail-top);
	left: 0;
	display: block;
	width: var(--rail-width);
	height: var(--rail-height);
	margin: 0 var(--handle-outline-width);
	cursor: pointer;
	background-color: var(--rail-color);
	border-radius: var(--nds-radius-pill);
}

@mixin rail-fill-container {
	position: absolute;
	top: var(--rail-top);
	left: 0;
	width: calc(100% - var(--handle-size) / 2);
	height: var(--rail-height);
	margin: 0 var(--handle-outline-width);
	overflow: hidden;
	border-radius: var(--nds-radius-pill);
}

@mixin rail-fill {
	width: 100%;
	height: 100%;
	background-color: var(--rail-in-range-color);
	transition: var(--animation);
	transform: scaleX(var(--handle-left));
	transform-origin: left center;
}

@mixin input {
	position: absolute;
	top: calc(var(--rail-top) + var(--input-top-offset));
	left: 0;
	z-index: var(--input-z-index);
	width: var(--rail-width);
	margin: 0 var(--handle-outline-width);

	@if $debug {
		opacity: 0.5;
	} @else {
		opacity: 0;
	}
}

@mixin input-vertical {
	writing-mode: vertical-lr;
	direction: ltr;
}

@mixin markers-container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: var(--markers-container-width);
	height: 100%;
	margin-left: var(--markers-container-offset);
	justify-content: space-between;
	align-items: center;
}

@mixin markers-container-custom {
	// Readjust the width so that when `left` is 100% the marker is aligned with the
	// center of the handle.
	width: var(--markers-container-custom-width);
}

@mixin marker {
	width: var(--marker-size);
	height: var(--marker-size);
	background-color: var(--marker-color);
	border-radius: 50%;
	transition: var(--marker-animation);

	&--in-range {
		background-color: var(--marker-in-range-color);
		border-color: var(--rail-in-range-color);
	}
}

@mixin marker-custom {
	--marker-left: 0;

	position: absolute;
	left: calc(var(--marker-left));
}

@mixin markers-labels {
	position: relative;
	display: block;
	width: calc(var(--labels-container-width));
	height: 1rem;
	margin-left: var(--markers-container-offset);

	// width: var(--markers-container-custom-width);
	// width: calc(var(--markers-container-width) - var(--handle-outline-width) * 2);
	font-size: var(--nds-font-size-12);
	line-height: var(--nds-line-height-3);
}

@mixin marker-text {
	position: absolute;
	top: 0;
	left: 0;
	left: calc(var(--marker-left));
	padding: 0;
	text-align: center;
	transform: translateX(-50%);
}

// @mixin label {}

@mixin style {
	@include util.declare('slider') {
		.nds-slider {
			@include base;


			&__input {
				@include input;
			}

			&__rail {
				@include rail;
			}

			&__handle-container {
				@include handle-container;
			}

			&__handle {
				@include handle;
			}

			&__markers-labels {
				@include markers-labels;
			}

			&__marker-text {
				@include marker-text;
			}

			&__markers-container {
				@include markers-container;

				&--custom {
					@include markers-container-custom;
				}
			}

			&__marker {
				@include marker;
			}

			&__marker--custom {
				@include marker-custom;
			}

			&--vertical &__input {
				@include input-vertical;
			}

			&__rail-container {
				@include rail-container;
			}

			&__rail-fill-container {
				@include rail-fill-container;
			}

			&__rail-fill {
				@include rail-fill;
			}

			&:hover &__handle {
				background-color: var(--nds-navy-20);
			}

			&:focus-within &__handle {
				@include a11y.focus-halo;
			}

			&:has(&__input:active) &__handle {
				@include handle-active;
			}
		}
	}
}
