////
/// @group Device
////

@use 'sass:map';
@use '../util';

/// The minimum dots per inch (dpi) of a high-resolution screen
$hd-dpi: 200 !default;
/// The minimum dots per pixel unit (dppx) for a high-resolution screen
$hd-dppx: 1.25 !default;

/// The minimum width for an extra small screen: a handset.
$min-xs: 0 !default;
/// The minimum width for a small screen: a large handset or small tablet.
$min-sm: 600px !default;
/// The minimum width for a medium screen: a large tablet or small laptop.
$min-md: 960px !default;
/// The minimum width for a large screen: a desktop.
$min-lg: 1280px !default;
/// The minimum width for an extra large screen: a high-definition device.
$min-xl: 1920px !default;

$breakpoints: (
	'xs': $min-xs,
	'sm': $min-sm,
	'md': $min-md,
	'lg': $min-lg,
	'xl': $min-xl,
);

/// A media query helper for high definition screens.
/// @param {Number} $dpi [$hd-dpi] - The dpi of a high definition (HD) screen.
/// @param {Number} $dppx [$hd-dppx] - The dppx of a high definition (HD) screen.
/// @link https://medium.com/@micjamking/hd-retina-display-media-queries-b5562b5430d6
@mixin media-hd {
	@media only screen and (min-resolution: #{$hd-dpi}dpi), only screen and (min-resolution: #{$hd-dppx}dppx) {
		@content;
	}
}

/// A media query helper for device sizes. @content will apply to the given size
/// and up.
/// @param {String} $size - The device size: xs, sm, md, lg, or xl.
/// @param {Map} $breakpoints [$devices] - The map of breakpoints to use.
@mixin media-up($size, $breakpoints: $breakpoints) {
	$min: map-get($breakpoints, $size);

	@if $size != 'xs' {
		@media (min-width: $min) {
			@content;
		}
	}
	@else {
		@content;
	}
}
