@use 'sass:map';
@use './tokens';
@use '../../util';

@mixin base {
	@include util.set($stripe-background-base: tokens.$stripe-background-base);
	@include util.set($stripe-background-contrast: tokens.$stripe-background-contrast);
	@include util.set($cell-border-color: tokens.$cell-border-color);
	@include util.set($cell-padding: map.get(tokens.$cell-paddings, 'base'), );
	@include util.set($header-background-color: tokens.$header-background-color);
	@include util.set($border-out-color: tokens.$border-out-color);

	border: 1px solid var(--border-out-color);

	& th,
	& td {
		padding: var(--cell-padding);
		line-height: var(--nds-line-height-3);
	}

	& th {
		font-weight: var(--nds-font-weight-bold);
		color: var(--nds-base-color-100);
		background-color: var(--header-background-color);
	}

	& td {
		color: var(--nds-base-color-90);

		&:last-child {
			border-right: 0 !important;
		}
	}

	& tr {
		background-color: var(--stripe-background-base);

		&:last-child {
			& td {
				border-bottom: 0 !important;
			}
		}
	}
}

@mixin style {
	@include util.declare('table') {
		.nds-table {
			@include base;
		}

		@each $name, $val in tokens.$cell-paddings {
			.nds-table--cell-#{$name} {
				@include util.set($cell-padding: $val);
			}
		}

		.nds-table--borders-all {
			& td {
				border-right: 1px solid var(--cell-border-color);
				border-bottom: 1px solid var(--cell-border-color);
			}
		}

		.nds-table--borders-no-vertical {
			& td {
				border-right: none;
				border-bottom: 1px solid var(--cell-border-color);
			}
		}

		.nds-table--striped {
			& tr {
				&:nth-child(even) {
					background-color: var(--stripe-background-contrast);
				}
			}
		}

		.nds-table--outline {
			@include util.set($header-background-color: var(--nds-background-color));

			& tbody {
				border-top: 1px solid var(--cell-border-color);
			}
		}

		.nds-table--ghost {
			@include util.set($header-background-color: var(--nds-background-color));

			border: none;

			tbody {
				border: 1px solid var(--border-out-color);
			}
		}

		.nds-table-sort-button {
			display: flex;
			padding: 0;
			font-weight: var(--nds-font-weight-bold);
			align-items: center;
			color: inherit;
			background: none;
			border: none;

			&:hover {
				text-decoration: underline;
			}

			&__icon {
				display: flex;
				margin-left: var(--nds-spacing-1);
				color: var(--nds-navy-70);
				flex-direction: column;
				background-color: transparent;
				align-items: center;
				border-radius: var(--nds-radius-sm);

				&--asc {
					color: var(--nds-white);
					background-color: var(--nds-navy-60);
				}

				&--desc {
					color: var(--nds-white);
					background-color: var(--nds-navy-60);
				}
			}
		}
	}
}
