$cell-paddings: (
	'sm': var(--nds-spacing-3) var(--nds-spacing-4),
	'base': var(--nds-spacing-4),
	'lg': var(--nds-spacing-5) var(--nds-spacing-4),
	'xl': var(--nds-spacing-6) var(--nds-spacing-4),
);
$cell-border-color: var(--nds-navy-20);
$stripe-background-base: var(--nds-background-color);
$stripe-background-contrast: var(--nds-navy-10);
$header-background-color: var(--nds-navy-20);
$border-out-color: var(--nds-navy-40);
