@use '../packages/core/full' as nds with (
	$enable-dark-scheme: false,
);

// General scroll box helper for when a story needs to be scrollable
.scrollbox {
	display: block;
	height: 400px;
	margin: 40px auto;
	content: '';

	&::before,
	&::after {
		display: block;
		height: 70vh;
		content: '';
	}
}

// Simple form styling
.form {
	max-width: 34rem;
	padding: 1rem;
	margin: 0 auto;
}

// Icon story helpers
.icon-list {
	--gap: 1rem;

	display: inline-flex;
	width: calc(100% + var(--gap));
	max-width: calc(1024px + var(--gap));
	margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
	flex-wrap: wrap;
}

.icon-list > * {
	margin: var(--gap) 0 0 var(--gap);
}

// Glossary reference for inline tooltip example
.glossref {
	font-weight: 700;
}

.px-3 {
	padding-right: nds.spacer(3);
	padding-left: nds.spacer(3);
}

form > :last-child {
	margin-bottom: 0;
}
