@use '../../util';
@use '../../properties' as props;

@include props.add-root(
	$link-color: props.prop('primary'),
	$link-decoration: underline,
	$link-hover-color: props.prop('primary-dark'),
	$link-hover-decoration: underline,
	$link-active-color: props.prop('primary-darker'),
	$link-visited-color: null,			// props.prop('purple-70'),
	$link-visited-hover-color: null,	// props.prop('purple-80'),
	$link-visited-active-color: null,	// props.prop('purple-90'),
);

@mixin style {
	@include util.declare('link') {
		// todo: define link styles apart from the global props?
	}
}
