@forward 'tokens';
@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';
@use 'tokens';
@use '../../config';
@use '../../util';

:root {
	--nds-link-color: #{tokens.$color};
	--nds-link-decoration: #{tokens.$decoration};
	--nds-link-hover-color: #{tokens.$hover-color};
	--nds-link-hover-decoration: #{tokens.$hover-decoration};
	--nds-link-active-color: #{tokens.$active-color};
	--nds-link-visited-color: #{tokens.$visited-color};
	--nds-link-visited-hover-color: #{tokens.$visited-hover-color};
	--nds-link-visited-active-color: #{tokens.$visited-active-color};

	@if config.$enable-dark-scheme {
		@media screen and (prefers-color-scheme: 'dark') {
			--nds-link-hover-color: #{tokens.$hover-color-dark};
			--nds-link-active-color: #{tokens.$active-color-dark};
		}

		[data-color-scheme='dark'] & {
			--nds-link-hover-color: #{tokens.$hover-color-dark};
			--nds-link-active-color: #{tokens.$active-color-dark};
		}

		[data-color-scheme='light'] & {
			--nds-link-hover-color: #{tokens.$hover-color};
			--nds-link-active-color: #{tokens.$active-color};
		}
	}
}

@mixin base {
	display: inline-flex;
	color: var(--nds-link-color);
	text-decoration: var(--nds-link-decoration);
}

@mixin launch {
	margin-left: 1px;
	font-size: 0.875em;
}

@mixin hover {
	color: var(--nds-link-hover-color);
	text-decoration: var(--nds-link-hover-decoration);
}

@mixin active {
	color: var(--nds-link-active-color);
}

@mixin visited {
	color: var(--nds-link-visited-color);

	&:hover {
		color: var(--nds-link-visited-hover-color);
	}

	&:active {
		color: var(--nds-link-visited-active-color);
	}
}

@mixin link {
	@include base;

	&:hover {
		@include hover;
	}

	&:active {
		@include active;
	}
}

@mixin style {
	@include util.declare('link') {
		.nds-link {
			@include link;
		}

		.nds-link__launch {
			@include launch;
		}

		.nds-link--visited {
			@include visited;
		}

		@if config.$link-styling-context and meta.type-of(config.$link-styling-context) == 'string' {
			#{util.child-selector(config.$link-styling-context, 'a')} {
				@include link;
			}
		}

		@if config.$link-visited-context and meta.type-of(config.$link-visited-context) == 'string' {
			#{util.child-selector(config.$link-visited-context, ':visited')} {
				@include visited;
			}
		}
	}
}
