$color: var(--nds-primary-color) !default;
$decoration: underline !default;

$hover-color: var(--nds-primary-color-dark) !default;
$hover-decoration: underline !default;

$active-color: var(--nds-primary-color-darker) !default;

$visited-color: var(--nds-purple-70) !default;
$visited-hover-color: var(--nds-purple-80) !default;
$visited-active-color: var(--nds-purple-90) !default;

$hover-color-dark: var(--nds-primary-color-light) !default;
$active-color-dark: var(--nds-primary-color-lighter) !default;
