@use '../../spacing';
@use '../../util';

$arrow-size: 16px !default;
$offset-distance: 8px !default;
$max-width: #{util.px2rem(375)}rem;
$padding-x: spacing.spacer('popover-x') !default;
$padding-y: spacing.spacer('popover-y') !default;
$border-radius: var(--nds-radius-md) !default;
$border-width: 1px;
