@use '../../spacing';

$grade: 60 !default;
$border-width: 4px !default;
$padding-x: calc(#{spacing.spacer('button-x')}) !default;
$padding-y: calc(
	#{spacing.spacer('button-x')} - #{$border-width}
) !default;
$border-radius: 0 !default;
$selected-border: #{$border-width} solid var(--nds-teal-50);
$border-y: #{$border-width} solid transparent;
$border-base: 0 solid transparent;
