@use 'tokens';
@use '../../util';
@use '../../color';
@use 'sass:map';
@use '../../spacing';

@mixin base {
	@include util.set($nds-tag-color: color.family('tag-color', tokens.$color));

	--nds-tag-padding-y: #{tokens.$padding-y};
	--nds-tag-margin: #{tokens.$margin};
	--nds-tag-background-color: var(--nds-tag-color-#{tokens.$background-grade});
	--nds-tag-hover-background-color: var(--nds-tag-color-#{tokens.$background-hover-grade});
	--nds-tag-active-background-color: var(--nds-tag-color-#{tokens.$background-active-grade});
	--nds-tag-border-radius: var(--nds-radius-base);

	display: inline-flex;
	padding: 0 var(--nds-tag-padding-y);
	font-size: var(--nds-font-size-xs);
	color: var(--nds-tag-color-#{tokens.$background-font-grade});
	vertical-align: middle;
	cursor: pointer;
	align-items: center;
	background-color: var(--nds-tag-background-color);
	border-radius: var(--nds-tag-border-radius);

	&:hover {
		background-color: var(--nds-tag-hover-background-color);
	}

	&:active {
		background-color: var(--nds-tag-active-background-color);
	}
}

@mixin tag-dismissible-icon {
	padding: 0;
	margin-left: 0.5rem;
	font-size: var(--nds-font-size-10);
	cursor: pointer;
	background-color: unset;

	&:focus {
		outline: none !important;
		box-shadow: none;
	}

	&:hover {
		background-color: var(--nds-tag-hover-background-color);
		outline: none !important;
	}

	&:active {
		background-color: var(--nds-tag-active-background-color);
		outline: none !important;
	}
}

@mixin tag-icon {
	margin: 0 spacing.spacer('0.25rem');
}

@mixin style {
	@include util.declare('tag') {
		.nds-tag {
			@include base;
		}

		.nds-tag__dismissible {
			@include tag-dismissible-icon;
		}

		.nds-tag__icon {
			@include tag-icon;
		}

		@each $name in color.$families {
			.nds-tag--#{$name} {
				@include util.set(
					$nds-tag-color: color.family('tag-color', $name),
				);
			}
		}

		@each $map in color.$roles {
			$name: map.get($map, 'name');

			.nds-tag--#{$name} {
				@include util.set($nds-tag-color: color.family('tag-color', '#{$name}-color'));
			}
		}
	}
}
