@use '../../spacing';

$padding-y: spacing.spacer('ui-inner') !default;
$color: 'base-color' !default;
$background-grade: 10 !default;
$background-hover-grade: 30 !default;
$background-active-grade: 50 !default;
$background-font-grade: 70 !default;
$margin: spacing.spacer('2px') !default;
