@import './tokens';
@import '../../globals/scss/functions';
@import '../../globals/scss/mixins';

@mixin textfield {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	font-family: $textfield-label-font-family;
	flex-direction: $textfield-flex-direction;
}

@mixin textfield-label {
	font-family: $textfield-label-font-family;
	font-size: $textfield-label-font-size;
	font-weight: $textfield-label-font-weight;
	line-height: $textfield-label-line-height;
	color: $textfield-label-font-color;
}

@mixin textfield-optional {
	font-family: $textfield-optional-font-family;
	font-size: $textfield-optional-font-size;
	font-weight: $textfield-optional-font-weight;
	line-height: $textfield-optional-line-height;
	color: $textfield-optional-font-color;
}

@mixin textfield-help {
	font-family: $textfield-help-font-family;
	font-size: $textfield-help-font-size;
	font-weight: $textfield-help-font-weight;
	line-height: $textfield-help-line-height;
	color: $textfield-help-font-color;
}

@mixin textfield-input {
	box-sizing: inherit;
	padding: $textfield-input-padding;
	margin-top: $textfield-input-top-margin;
	font-family: $textfield-input-font-family;
	font-size: $textfield-input-font-size;
	font-style: normal;
	font-weight: $textfield-input-font-weight;
	color: $textfield-input-font-color;
	background-color: $textfield-input-background-color;
	border: $textfield-input-border-width solid $textfield-input-border-color;
	border-radius: $textfield-input-border-radius;
	outline: none;
}

@mixin textfield-input-focus {
	border: 1px solid $textfield-input-focus-border-color;
	box-shadow: 0 0 0 1px $textfield-input-focus-border-color;
}

@mixin textfield-input-error {
	background-color: $textfield-input-error-background-color;
	border: 1px solid $textfield-input-error-border-color;
	box-shadow: 0 0 0 1px $textfield-input-error-border-color;
}

@mixin textfield-input-disabled {
	color: $textfield-input-disabled-font-color;
	background-color: $textfield-input-disabled-background-color;
	border: 1px solid $textfield-input-disabled-border-color;
}

@mixin textfield-feedback {
	display: flex;
	margin-top: $textfield-feedback-top-margin;
}

@mixin textfield-error {
	padding-left: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	font-family: $textfield-error-font-family;
	font-size: $textfield-error-font-size;
	font-style: italic;
	font-weight: $textfield-error-font-weight;
	line-height: $textfield-error-line-height;
	color: $textfield-error-text-color;
	list-style-type: none;
}

@mixin textfield-count {
	padding-left: 1rem;
	margin-left: auto;
	font-family: $textfield-count-font-family;
	font-size: $textfield-count-font-size;
	font-style: italic;
	font-weight: $textfield-count-font-weight;
	line-height: $textfield-count-line-height;
	color: $textfield-count-text-color;
}
