@use '../../a11y';
@use '../../spacing';
@use '../../util';
@use '../../properties' as *;

@mixin input {
	padding: spacing.padding-y() spacing.padding-x();
	background-color: prop('body-bg');
	border-color: prop('border-color');
	border-style: solid;
	border-width: prop('border-width');
	border-radius: prop('radius-base');
	caret-color: prop('primary');

	&:-moz-ui-invalid,
	&:focus {
		box-shadow: unset;
	}

	&:disabled,
	&.disabled {
		color: prop('disabled-40');
		background-color: prop('disabled-20');
		border-color: prop('disabled-40');
	}

	.#{util.prefix('field--invalid')} & {
		border-color: prop('error');
		// caret-color: prop('error');
	}

	.#{util.prefix('field__group')} > & {
		position: relative;
		width: 1%;
		min-width: 0;
		flex: 1 1 auto;
	}
}

@mixin group {
	@include set-props(
		$border-color: prop('base-40'),
		$border-width: 1px,
		$padding-y: spacing.rem(0.5),
		$padding-x: spacing.rem(0.75),
	);

	margin-bottom: spacing.rem(0.25);
	background-color: prop('body-bg');
	border-radius: prop('radius-base');
	flex-wrap: wrap;
	align-items: stretch;

	> :not(:first-child) {
		margin-left: -1px;
		border-left: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	> :not(:last-child) {
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&:focus-within {
		@include set-props($border-color: prop('focus-ring-color'));
		@include a11y.focus-ring-collapse;
	}

	.#{util.prefix('field--invalid')} & {
		@include set-props(
			$border-color: prop('error'),
			$focus-ring-color: prop('error'),
		);

		&:focus-within {
			box-shadow: 0 0 0 1px prop('focus-ring-color');
		}
	}

	+ .#{util.prefix('field__feedback')} {
		display: flex;
		justify-content: space-between;
	}
}

@mixin counter {
	margin-left: auto;
	font-size: prop('font-size-sm');
	font-style: italic;
	color: prop('text-muted');
}

@mixin style {
	@include util.declare('textfield') {
		.#{util.prefix('field__input--text')} {
			@include input;
		}

		.#{util.prefix('field__counter')} {
			@include counter;
		}

		.#{util.prefix('field__group--text')} {
			@include group;
		}
	}
}
