@use '../../spacing';

$color: 'base-color' !default;
$background-grade: 10 !default;
$border-grade: 50 !default;
$icon-grade: 60 !default;
$border-width: 0.25rem !default;
$padding-x: spacing.spacer('callout-x') !default;
$padding-y: spacing.spacer('callout-y') !default;
$icon-margin-right: spacing.spacer('0.75rem') !default;
$header-margin-bottom: 1.625rem !default;
$header-no-title-bottom-margin: spacing.spacer('0.75rem') !default;
$no-title-padding: spacing.spacer('1rem');
$close-button-color: var(--nds-navy-90) !default;
$icon-size: 1.5rem !default;
$header-right-padding: '1.75rem' !default;
