@import './tokens';
@import '../../globals/scss/functions';
@import '../../globals/scss/mixins';
@import '../../globals/scss/tokens';
@import '../button/mixins';

@mixin dropdown-label {
	box-sizing: border-box;
	font-family: $dropdown-label-font-family;
	font-size: $dropdown-label-font-size;
	font-weight: $dropdown-label-font-weight;
	color: $dropdown-label-color;
}

@mixin dropdown-button {
	@include button-base;
	@include button-outline($dropdown-color);

	justify-content: space-between;

	.icon {
		@include button-icon;
	}

	.icon--chevron-down > path {
		transition: transform $dropdown-expand-duration $dropdown-expand-easing;
		transform-origin: center;
	}

	&[aria-expanded=true] .icon--chevron-down > path {
		transform: rotate3d(1, 0, 0, 180deg);
	}

	&[aria-expanded=false] .icon--chevron-down > path {
		transform: rotate3d(1, 0, 0, 0);
	}
}

@mixin dropdown-listbox {
	max-height: $dropdown-listbox-max-height;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	list-style-type: none;
	background-color: $white;
	border: $dropdown-listbox-border-width solid $dropdown-listbox-border-color;
	border-radius: $dropdown-listbox-border-radius;
	box-shadow: $dropdown-listbox-box-shadow;
}

@mixin dropdown-listbox-option {
	display: flex;
	box-sizing: border-box;
	padding-top: $dropdown-option-padding-y;
	padding-right: $dropdown-option-padding-x;
	padding-bottom: $dropdown-option-padding-y;
	padding-left: calc(1em + 0.5rem * 2);
	font-family: $dropdown-option-font-family;
	font-size: $dropdown-option-font-size;
	font-weight: $dropdown-option-font-weight;
	line-height: $dropdown-option-line-height;
	color: $dropdown-option-font-color;
	cursor: default;
	user-select: none;
	outline: none;
	align-items: center;

	&[aria-selected=true] {
		padding-left: 0;
	}

	&:hover {
		background-color: $dropdown-option-hover-color;
	}

	&:focus {
		background-color: $dropdown-option-focus-color;
	}

	&:hover:focus {
		background-color: $dropdown-option-hover-focus-color;
	}

	> .icon--check {
		width: $dropdown-option-check-width;
		height: 1em;
		padding: 0 0.5rem;
	}
}
