@import '../../globals/scss/tokens';

// Tokens used by all anatomy
$dropdown-color: $navy !default;
$dropdown-border-radius: 0.125rem !default;
$dropdown-font-family: $font-family-sans-serif !default;

$dropdown-expand-duration: $duration-expand !default;
$dropdown-expand-easing: $easing-standard !default;

//Label text
$dropdown-label-font-family: $dropdown-font-family !default;
$dropdown-label-color: map-get($dropdown-color, 90) !default;
$dropdown-label-font-size: 1rem !default;
$dropdown-label-font-weight: 700 !default;

//Optional element
$dropdown-optional-font-family: $dropdown-font-family !default;
$dropdown-optional-font-color: map-get($dropdown-color, 90) !default;
$dropdown-optional-font-size: 1rem !default;
$dropdown-optional-font-weight: 400 !default;

//Descriptive text
$dropdown-descriptive-font-family: $dropdown-font-family !default;
$dropdown-descriptive-font-color: map-get($dropdown-color, 60) !default;
$dropdown-descriptive-font-size: 0.875rem !default;
$dropdown-descriptive-font-weight: 400 !default;

//Error text
$dropdown-error-font-family: $dropdown-font-family !default;
$dropdown-error-font-color: map-get($color-error, 60) !default;
$dropdown-error-font-size: 1rem !default;
$dropdown-error-font-weight: 600 !default;
$dropdown-error-font-style: italic !default;

//List option
$dropdown-option-check-width: calc(1em + 1rem) !default;	// 1em + padding
$dropdown-option-focus-color: map-get($teal, 20) !default;
$dropdown-option-font-color: map-get($dropdown-color, 90) !default;
$dropdown-option-font-family: $dropdown-font-family !default;
$dropdown-option-font-size: 1rem !default;
$dropdown-option-font-weight: 400 !default;
$dropdown-option-line-height: 1 !default;
$dropdown-option-hover-color: map-get($dropdown-color, 20) !default;
$dropdown-option-hover-focus-color: map-get($teal, 30) !default;
$dropdown-option-padding-x: 0.75rem !default;
$dropdown-option-padding-y: 0.5rem !default;
$dropdown-option-computed-height: calc(#{$dropdown-option-font-size * $dropdown-option-line-height} + #{$dropdown-option-padding-y * 2}) !default;

//List Box
$dropdown-listbox-box-shadow: 0 2px 4px 0 rgba(map-get($gray, 100), 0.25) !default;
$dropdown-listbox-border-width: 1px;
$dropdown-listbox-border-color: map-get($dropdown-color, 40);
$dropdown-listbox-border-radius: $dropdown-border-radius !default;
$dropdown-listbox-max-options: 5 !default;
$dropdown-listbox-max-height: calc(#{$dropdown-listbox-max-options} * #{$dropdown-option-computed-height} + #{$dropdown-listbox-border-width * 2}) !default;
