/* cspell:ignore datalists, textareas, fieldsets */
/* stylelint-disable at-rule-no-vendor-prefix, property-no-vendor-prefix, selector-no-qualifying-type, max-nesting-depth, no-descending-specificity */

////
/// @group Reset
////

@forward 'tokens';

@use 'tokens' as *;
@use '../a11y';
@use '../color';
@use '../spacing';
@use '../type';
@use '../util';

/// Apply the HTML reset.
/// Manually forked from Bootstrap's reboot. Additional declarations are
/// annotated with `NDS:` comments.
/// @link https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss
@mixin reset {
	@include util.declare('reset') {
		// Document
		// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.

		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}

		// NDS: add selection styling

		::selection {
			color: var(--nds-selection-text-color);
			background-color: var(--nds-selection-background-color);
		}

		// Body
		// 1. Apply progressive font smoothing.
		// 2. Remove the margin in all browsers.
		// 3. As a best practice, apply a default `background-color`.
		// 4. Prevent adjustments of font size after orientation changes in iOS.
		// 5. Change the default tap highlight to be completely transparent in iOS.

		body {
			@include type.font-smoothing; // 1

			margin: 0; // 2
			font-family: var(--nds-font-family-base);
			font-weight: var(--nds-font-weight-base);
			line-height: type.lh('body');
			color: var(--nds-text-color);
			background-color: var(--nds-background-color); // 3
			-webkit-text-size-adjust: 100%; // 4
			-webkit-tap-highlight-color: rgba(var(--nds-black), 0); // 5
		}

		// Future-proof rule: in browsers that support :focus-visible, suppress the focus outline
		// on elements that programmatically receive focus but wouldn't normally show a visible
		// focus outline. In general, this would mean that the outline is only applied if the
		// interaction that led to the element receiving programmatic focus was a keyboard interaction,
		// or the browser has somehow determined that the user is primarily a keyboard user and/or
		// wants focus outlines to always be presented.
		// See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
		// and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/

		[tabindex='-1']:focus:not(:focus-visible) {
			outline: 0 !important;
		}

		// NDS: use the default focus indicator on everything to start.

		*:focus {
			@include a11y.focus-halo;

			@include a11y.not-focus-visible {
				box-shadow: inherit;
			}
		}

		// Content grouping
		//
		// 1. Reset Firefox's gray color
		// 2. Set correct height and prevent the `size` attribute to make the `hr` look like an input field

		hr {
			margin: spacing.rem(1) 0;
			color: inherit; // 1
			background-color: currentColor;
			border: 0;
			opacity: 0.25;
		}

		hr:not([size]) {
			height: 1px; // 2
		}

		// Typography
		//
		// 1. Remove top margins from headings
		//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
		//    margin for easier control within type scales as it avoids margin collapsing.

		h1 {
			@include type.heading-1;
		}

		h2 {
			@include type.heading-2;
		}

		h3 {
			@include type.heading-3;
		}

		h4 {
			@include type.heading-4;
		}

		h5 {
			@include type.heading-5;
		}

		h6 {
			@include type.heading-6;
		}

		// Reset margins on paragraphs
		//
		// Similarly, the top margin on `<p>`s get reset. However, we also reset the
		// bottom margin to use `rem` units instead of `em`.

		p {
			margin-top: 0;
			margin-bottom: $paragraph-margin-bottom;
		}


		// Abbreviations
		//
		// 1. Duplicate behavior to the data-* attribute for our tooltip plugin
		// 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
		// 3. Add explicit cursor to indicate changed behavior.
		// 4. Prevent the text-decoration to be skipped.

		abbr[title],
		abbr[data-original-title] { // 1
			text-decoration: underline; // 2
			text-decoration: underline dotted; // 2
			cursor: help; // 3
			text-decoration-skip-ink: none; // 4
		}


		// Address

		address {
			margin-bottom: spacing.spacer('block-base');
			font-style: normal;
			line-height: inherit;
		}


		// Lists

		ol,
		ul {
			padding-left: spacing.rem(2);
		}

		ol,
		ul,
		dl {
			margin-top: 0;
			margin-bottom: spacing.spacer('block-base');
		}

		ol ol,
		ul ul,
		ol ul,
		ul ol {
			margin-bottom: 0;
		}

		dt {
			font-weight: $dt-font-weight;
		}

		// 1. Undo browser default

		dd {
			margin-bottom: spacing.spacer('block-sm');
			margin-left: 0; // 1
		}


		// Blockquote

		blockquote {
			margin: 0 0 spacing.spacer('block-base');
		}


		// Strong
		//
		// Add the correct font weight in Chrome, Edge, and Safari

		b,
		strong {
			font-weight: $font-weight-bolder;
		}


		// Small
		//
		// Add the correct font size in all browsers

		small {
			font-size: var(--nds-font-size-sm);
		}


		// Mark

		mark {
			padding: $mark-padding;
			background-color: $mark-bg;
		}


		// Sub and Sup
		//
		// Prevent `sub` and `sup` elements from affecting the line height in
		// all browsers.

		sub,
		sup {
			position: relative;
			font-size: $sub-sup-font-size;
			line-height: 0;
			vertical-align: baseline;
		}

		sub { bottom: -0.25em; }
		sup { top: -0.5em; }


		// Links

		// Moved to link component

		// And undo these styles for placeholder links/named anchors (without href).
		// It would be more straightforward to just use a[href] in previous block, but that
		// causes specificity issues in many other styles that are too complex to fix.
		// See https://github.com/twbs/bootstrap/issues/19402

		a:not([href]):not([class]) {
			&,
			&:hover {
				color: inherit;
				text-decoration: none;
			}
		}


		// Code

		pre,
		code,
		kbd,
		samp {
			font-family: $font-family-code;
			font-size: 1em; // Correct the odd `em` font sizing in all browsers.
		}

		// 1. Remove browser default top margin
		// 2. Reset browser default of `1em` to use `rem`s
		// 3. Don't allow content to break outside
		// 4. Disable auto-hiding scrollbar in legacy Edge to avoid overlap,
		//    making it impossible to interact with the content

		pre {
			display: block;
			margin-top: 0; // 1
			margin-bottom: spacing.spacer('block-base'); // 2
			overflow: auto; // 3
			font-size: $code-font-size;
			color: $pre-color;
			-ms-overflow-style: scrollbar; // 4

			// Account for some code outputs that place code tags in pre tags
			code {
				font-size: inherit;
				color: inherit;
				word-break: normal;
			}
		}

		code {
			font-size: $code-font-size;
			color: $code-color;
			word-wrap: break-word;

			// Streamline the style when inside anchors to avoid broken underline and more
			a > & {
				color: inherit;
			}
		}

		kbd {
			padding: $kbd-padding-y $kbd-padding-x;
			font-size: $kbd-font-size;
			color: $kbd-color;
			background-color: $kbd-bg;
			border: 1px solid var(--nds-base-color-40);		// NDS addition
			border-radius: var(--nds-radius-sm);
			box-shadow: inset 0 -1px 0 var(--nds-base-color-40);	// NDS addition

			kbd {
				padding: 0;
				font-size: 1em;
				font-weight: $nested-kbd-font-weight;
			}
		}


		// Figures
		//
		// Apply a consistent margin strategy (matches our type styles).

		figure {
			margin: 0 0 spacing.spacer('block-base');
		}


		// Images and content

		img,
		svg {
			vertical-align: middle;
		}


		// Tables
		//
		// Prevent double borders

		table {
			caption-side: bottom;
			border-collapse: collapse;
		}

		caption {
			padding-top: $table-cell-padding-y;
			padding-bottom: $table-cell-padding-y;
			color: $table-caption-color;
			text-align: left;
		}

		// 1. Removes font-weight bold by inheriting
		// 2. Matches default `<td>` alignment by inheriting `text-align`.
		// 3. Fix alignment for Safari

		th {
			font-weight: $table-th-font-weight; // 1
			text-align: inherit; // 2
			text-align: -webkit-match-parent; // 3
		}

		thead,
		tbody,
		tfoot,
		tr,
		td,
		th {
			border-color: inherit;
			border-style: solid;
			border-width: 0;
		}


		// Forms
		//
		// 1. Allow labels to use `margin` for spacing.

		label {
			display: inline-block; // 1
		}

		// Remove the default `border-radius` that macOS Chrome adds.
		// See https://github.com/twbs/bootstrap/issues/24093

		button {
			// stylelint-disable-next-line property-blacklist
			border-radius: 0;
		}

		// NDS: override this, as we're using a global (:focus) focus
		// Work around a Firefox bug where the transparent `button` background
		// results in a loss of the default `button` focus styles.
		// Credit https://github.com/suitcss/base/

		// button:focus {
		// 	outline: 1px dotted;
		// 	outline: 5px auto -webkit-focus-ring-color;
		// }

		// 1. Remove the margin in Firefox and Safari

		input,
		button,
		select,
		optgroup,
		textarea {
			margin: 0; // 1
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
		}

		// Show the overflow in Edge

		button,
		input {
			overflow: visible;
		}

		// Remove the inheritance of text transform in Firefox

		button,
		select {
			text-transform: none;
		}

		// Set the cursor for non-`<button>` buttons
		//
		// Details at https://github.com/twbs/bootstrap/pull/30562
		[role='button'] {
			cursor: pointer;
		}

		// Remove the inheritance of word-wrap in Safari.
		// See https://github.com/twbs/bootstrap/issues/24990

		select {
			word-wrap: normal;
		}

		// Remove the dropdown arrow in Chrome from inputs built with datalists.
		// See https://stackoverflow.com/a/54997118

		[list]::-webkit-calendar-picker-indicator {
			display: none;
		}

		// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
		//    controls in Android 4.
		// 2. Correct the inability to style clickable types in iOS and Safari.
		// 3. Opinionated: add "hand" cursor to non-disabled button elements.

		button,
		[type='button'],
		[type='reset'],
		[type='submit'] {
			-webkit-appearance: button; // 2

			&:not(:disabled) {
				cursor: pointer; // 3
			}
		}

		// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.

		::-moz-focus-inner {
			padding: 0;
			border-style: none;
		}

		// 1. Textareas should really only resize vertically so they don't break their (horizontal) containers.

		textarea {
			resize: vertical; // 1
		}

		// 1. Browsers set a default `min-width: min-content;` on fieldsets,
		//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
		//    So we reset that to ensure fieldsets behave more like a standard block element.
		//    See https://github.com/twbs/bootstrap/issues/12359
		//    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
		// 2. Reset the default outline behavior of fieldsets so they don't affect page layout.

		fieldset {
			min-width: 0; // 1
			padding: 0; // 2
			margin: 0; // 2
			border: 0; // 2
		}

		// 1. By using `float: left`, the legend will behave like a block element.
		//    This way the border of a fieldset wraps around the legend if present.
		// 2. Correct the text wrapping in Edge.
		// 3. Fix wrapping bug.
		//    See https://github.com/twbs/bootstrap/issues/29712

		legend {
			float: left; // 1
			width: 100%;
			padding: 0;
			margin-bottom: $legend-margin-bottom;
			font-size: $legend-font-size;
			font-weight: $legend-font-weight;
			line-height: inherit;
			white-space: normal; // 2

			+ * {
				clear: left; // 3
			}
		}

		// Fix height of inputs with a type of datetime-local, date, month, week, or time
		// See https://github.com/twbs/bootstrap/issues/18842

		::-webkit-datetime-edit-fields-wrapper,
		::-webkit-datetime-edit-text,
		::-webkit-datetime-edit-minute,
		::-webkit-datetime-edit-hour-field,
		::-webkit-datetime-edit-day-field,
		::-webkit-datetime-edit-month-field,
		::-webkit-datetime-edit-year-field {
			padding: 0;
		}

		::-webkit-inner-spin-button {
			height: auto;
		}

		// 1. Correct the outline style in Safari.
		// 2. This overrides the extra rounded corners on search inputs in iOS so that our
		//    `.form-control` class can properly style them. Note that this cannot simply
		//    be added to `.form-control` as it's not specific enough. For details, see
		//    https://github.com/twbs/bootstrap/issues/11586.

		[type='search'] {
			outline-offset: -2px; // 1
			-webkit-appearance: textfield; // 2
		}

		// Remove the inner padding in Chrome and Safari on macOS.

		::-webkit-search-decoration {
			-webkit-appearance: none;
		}

		// Remove padding around color pickers in webkit browsers

		::-webkit-color-swatch-wrapper {
			padding: 0;
		}

		// 1. Change font properties to `inherit` in Safari.
		// 2. Correct the inability to style clickable types in iOS and Safari.

		::-webkit-file-upload-button {
			font: inherit; // 1
			-webkit-appearance: button; // 2
		}

		// Correct element displays

		output {
			display: inline-block;
		}

		// Remove border from iframe

		iframe {
			border: 0;
		}

		// Summary
		//
		// 1. Add the correct display in all browsers

		summary {
			display: list-item; // 1
			cursor: pointer;
		}


		// Progress
		//
		// Add the correct vertical alignment in Chrome, Firefox, and Opera.

		progress {
			vertical-align: baseline;
		}


		// Hidden attribute
		//
		// Always hide an element with the `hidden` HTML attribute.

		[hidden] {
			display: none !important;
		}

		@content;
	}
}
